.AboutMe{
    max-width: 100%;
    height: 600px;
    padding: 100px 0px;
    background-color: #1E1E1E;
    scroll-snap-align: start;
    .container{
        max-width: 900px;
        margin: 0 auto;
        padding: 0 15px;
        .About_Me{
            display: flex;
            &-info{
                .Avartar{
                    max-width: 360px;
                    border: 2px solid #FFFFFF;
                    border-radius: 100rem;
                }
            }
            &-Content{
                margin-left: 100px;
                .title-desc{
                    font-size: 16px;
                }
                .Title{
                    font: {
                        size:40px;
                        weight:bold;
                    };
                    padding-bottom: 10px;
                    position: relative;
                    z-index: 2;
                    &:after{
                        content: "";
                        position: absolute;
                        width: 55%;
                        transform: translateY(-50%);
                        height: 3px;
                        background-color: antiquewhite;
                        left: -10px;
                        top: 50%;
                    }
                }
                .desc{
                    line-height: 40px;
                }
            }
            .btn{
                margin-top: 25px;
                padding: 8px 35px;
                border: 2px solid #FFFFFF;
                border-radius: 12px;
                color: #FFFFFF;
                cursor: none;
                background: none;
                font: {
                    size:18px;
                    weight:bold;
                };
                &-primary{
                    &:hover{
                        background-color: #FFFFFF;
                        color: #1E1E1E;
                    }
                }
                &-second{
                    margin-left: 30px;
                    &:hover{
                        background-color: #FFFFFF;
                        color: #1E1E1E;
                    }
                }
            }
          
           
        }
    }
}