// break point mobile < 740px

.checkbtn{
    font-size: 30px;
    color: #0099ff;
    float: right;
    line-height: 80px;
    display: none;
    margin-right: 40px;
    cursor: pointer;
  }
  #check{
    display: none;
  }

  @media only screen and (max-width: 46.1875em){
    .logopage{
      padding-right: 50px;
      position: fixed;
      z-index: 50;
      padding-left: 1.5rem;
      left: 0;
      transition: all .5s;
    }
    nav ul li a{
      font-size: 16px;
    }
    .checkbtn{
        display: block;
        position: fixed;
        z-index: 99;
        left: 0;
        padding: 0px 2rem;
        margin-top: 30px;
        transition: all .5s;
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 1;
        padding-top: 1rem;
        top: 0px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
      }
      nav ul li a{
        font-size: 20px;
      }
      #check:checked ~ ul{
        left: 0;
        display: block;
        line-height: 30px;
      }
      .download{
          display: none;
      }
      #titlehead{
         text-align: center;
         font-size: 60px;
         transition: all .5s;
      }
      .phone{
          display: block;
          align-items: center;
          transition: all .5s;
          margin: 0 auto;
      }
      #singledescenter{
        font-size: 20px;
        
        text-align: center;
        padding: 20px 50px;
    }
      #sectionlogo{
         flex-direction: column;
         width: 50%;
         top: 1200px;
         transition: all .5s;
      }
      #containerinfo{
          top: 1600px;
      }
      #contenthero{
          display: block;
      }
      .btn{
        margin: 0 15em;
        transition: all .5s;
      }
      #sectionTestimonial{
          left: 0;
          top: 3200px;
          
      }
      #sectionTestimonial-des{
           left: 0;
        }
        #heading{
            font-size: 30px;
            top: 0;
            margin: 75px 200px;
            line-height: 50px;
            transition: all .5s;
        }
        #Quote{
            width: 50px;
            position: relative;
            padding-right: 200px;
        }
        #description{
            top: 0;
            position: absolute;
            margin: 190px 200px;
            line-height: 50px;
        }
        #Testimonial1{
           position: absolute;
           left: 40px;
           top: 252px;
           width: 250px;
           height: 420px;
        }
        #testimg{
            width: 100px;
        }
        #content{
            font-size: 18px;
            margin: 10px 20px;
            width: 254px;
            line-height: 32px;
        }
        #Testimonial2{
            position: absolute;
            left: 370px;
            top: 270px;
            width: 250px;
            height: 260px;
           
         }
         #Testimonial3{
            position: absolute;
            left: 370px;
            top: 592px;
            width: 300px;
            height: 270px;
         }
         #Detail{
             display: none;
         }
      .SectionStats{
          top: 3300px;
          display: block;
      }
      #SectionStats-Count{
         
         padding-left: 100px;
      }
      .PhoneMockup{
          display: block;
          top: 3460px;
          text-align: center;
      }
      #PhoneMok{
          width: 470px;
      }
      #info{
          padding-left: 110px;
      }
      .Single{
          display: block;
          top: 3830px;
      }
      #singleheading{
          text-align: center;
          padding-left: 65px;
      }
      #coverimg{
          display: block;
          margin-top: 20px;
          width: 100%;
          height: auto;
      }
      .footerhead{
          display: block;
          top: 3800px;
      }
      #contenttitle{
          font-size: 20px;
          margin-left: 5px;
      }
      #contentdes{
        font-size: 15px;
        width: 350px;
        margin-left: 5px;
      }
      #phone1{
          width: 200px;
          height: 270px;
          left: 365px;
          top: 0px;
          position: absolute;
      }
      #phone2{
        width: 200px;
        height: 250px;
        left: 515px;
        position: absolute;
        bottom: 0px;
    }
      .footerbottom{
          display: flex;
          top: 3800px;
          
          .source{
              font-size: 13px;
          }
      }
  }

  // break point Moble <= 740px and width > 502 px
    // break point Moble <= 740px and width > 502 px
      // break point Moble <= 740px and width > 502 px
        // break point Moble <= 740px and width > 502 px
          // break point Moble <= 740px and width > 502 px

  @media only screen and (max-width: 510px)
  {
      .download{
          display: none;
      }
      #titlehead{
        text-align: center;   
        font-size: 45px;
        transition: all 0.5s;
     }
     
     #btn{
         display: block;
         font-size: 15px;
         
         margin: 0 auto;
     }
     #titleh1{
         font-size: 30px;
     }
     #title-p{
         font-size: 15px;
     }
     #sectionTestimonial{
        left: 0;
        top: 3200px;
        display: block;   
    }
    #heading{
        font-size: 30px;
        top: 0;
        margin: 75px 110px;
        line-height: 50px;
    }
    #Quote{
        width: 50px;
        position: relative;
        left: -15vh;
    }
    #description{
        top: 0;
        position: absolute;
        margin: 190px 100px;
        line-height: 50px;
    }
    .footerhead{
        display: none;
        top: 3800px;
    }
    #title{
        font-size: 25px;
        text-align: center;
        margin: 0 0 0 -23vh;
    }
    .PhoneMockup{
        display: block;
    }
    #desc{
        padding-left: 90px;
        font-size: 15px;
    }
    #infotitle{
        font-size: 15px;
    }
    .listcount{
        padding-left: 10px;
    }

    #SectionStats-Count{
       display: flex;
        width: 600px;
        margin: 0 0 0 -17vh;
    }
    #headline{
        margin-right: 2.5rem;
    }
    #singledescenter{
        font-size: 20px;
        width: 450px;
        text-align: center;
        padding: 20px 15px;
    }
    #des{
      
    }
    #info{
        padding-left: 30px;
    }
    .link{
        margin-right: 50rem;
    }
    #singleheading{
        margin: 0 0 0 -17vh;
        font-size: 20px;
    }
 
    #singledesc{
        font-size: 10px;
        display: none;
    }
    #sectionlogo{
        display: block;
        width: 150px;
        margin: 0 auto;
        top: 1200px;
     }
     .logo{
         margin-right: 100px;
     }
     #coverimg{
         width: 100%;
     }
     #Testimonial1{
        position: absolute;
        left: 108px;
        top: 252px;
        width: 250px;
        height: 420px;
     }
     #testimg{
         width: 90px;
     }
     #content{
         font-size: 18px;
         margin: 10px 20px;
         width: 254px;
         line-height: 32px;
     }
     #Testimonial2{
         position: absolute;
         left: 108px;
         top: 1064px;
         width: 250px;
         height: 260px;
        
      }
      #Testimonial3{
         position: absolute;
         left: 108px;
         top: 742px;
         width: 310px;
         height: 270px;
      }
      #sectionTestimonial{
          height: 1420px;
      }
      ul{
        position: fixed;
        width: 50%;
        height: 100%;
        background-color: #ffffff;
        z-index: 1;
        padding-top: 1rem;
        top: 0px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
  }


  // break point Tablet >= 740px and width < 1024 px

  
