* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Inter";
}
a {
  text-decoration: none;
}
$colorbutton: #8c30f5;
$colorfont: #18191f;
$fontmenu: font-weight 500, font-size 14px;

// Header

.Hero {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  position: static;
  &-header {
    background-image: url("Media/Background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    flex-wrap: wrap;
    .nav-left {
      display: flex;
      padding: 0px;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 10px;
      margin-top: 22px;
      align-items: center;
    
      .logopage {
        width: 110px;
        margin: 5px 32px;
        align-items: center;
      }
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        &-item {
          list-style: none;
          padding: 10px 20px;
          a {
            color: $colorfont;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            text-decoration: none;
          }
          a:hover{
           border-bottom: 1px solid #8c30f5; 
          }
        }
      }
      
      // Mobile break piont
     
     
    }
    
    .nav-right {
      margin-left: 150px;
      margin-top: 30px;
     
      .download {
        width: 120px;
      }
    
    }
  }
  &-content {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    &-title {
      margin-top: 8rem;
      .titlehead {
        font-size: 72px;
        margin: 25px 0;
        line-height: 68px;
      }
      .btn {
        background-color: $colorbutton;
        padding: 15px 60px;
        margin-top: 7px;
        border: none;
        border-radius: 6px;
        color: white;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
      .btn:hover{
        background-color: #0099ff;
      }
    }
    img {
      max-width: 350px;
      margin-top: 5rem;
    }
  }
}
.LogoCloud {
  position: relative;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 142px;
  &-section {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    background-color: white;
    left: 165px;
    top: 51em;
    width: 60em;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    .logo {
      padding: 15px 30px;
    }
  }
  .container {
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 64px 165px;
    &-info {
      position: absolute;
      top: 58rem;
      .title {
        font-size: 48px;
        line-height: 74px;
        font-weight: bold;
      }
      .title-p {
        font-size: 18px;
        line-height: 32px;
      }
      &-list {
        display: flex;
        position: static;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        .list {
          padding: 35px 5px;
          margin: 24px 0px;
          width: 350px;
          line-height: 32px;
        }
      }
    }
  }
}
.sectionTestimonial {
  background-color: #d5fafc;
  height: 896px;
  position: relative;
  top: 1500px;
  img {
    position: absolute;
    margin: 64px 160px;
  }
  &-des {
    .heading {
      width: 445px;
      height: 128px;
      font-size: 48px;
      margin: 120px 260px;
      position: absolute;
      line-height: 64px;
    }
    .description {
      width: 445px;
      height: 128px;
      font-size: 18px;
      margin: 256px 260px;
      position: absolute;
      line-height: 32px;
    }
    .Testimonial1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 32px;
      position: absolute;
      width: 300px;
      height: 468px;
      left: 355px;
      top: 312px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
      .testimg {
        position: static;
        width: 140px;
        height: 40px;
        margin: 32px 0px;
      }
      .testimg1 {
        position: absolute;
        margin: 104px 0px;
      }
      .content {
        position: static;
        margin: 10px 25px;
        width: 254px;
        font-size: 18px;
        line-height: 32px;
        height: 255px;
      }
      .Detail {
        position: static;
        margin: 10px 25px;
        width: 254px;
        font-weight: bold;
        line-height: 24px;
        font-size: 18px;
        span {
          font-size: 14px;
          color: #969bab;

          line-height: 24px;
        }
      }
    }
    .Testimonial2 {
      width: 350px;
      height: 310px;
      left: 735px;
      top: 168px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 32px;
      border-radius: 8px;
      position: absolute;
      box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
      .testimg {
        position: static;
        width: 130px;
        height: 40px;
        left: 32px;
        top: 32px;
        margin: 0px 0px;
      }
      .testimg2 {
        position: absolute;
        margin: 60px 0px;
      }
      .content {
        position: static;
        margin: 20px 25px;
        width: 350px;
        font-size: 18px;
        line-height: 32px;
        height: 128px;
      }
      .Detail {
        position: static;
        margin: 10px 25px;
        width: 254px;
        font-weight: bold;
        line-height: 24px;
        font-size: 18px;
        span {
          font-size: 14px;
          color: #969bab;
          line-height: 24px;
        }
      }
    }
    .Testimonial3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      width: 350px;
      height: 276px;
      left: 735px;
      top: 540px;
      margin-top: 20px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
      .testimg {
        position: static;
        width: 140px;
        height: 40px;
        margin: 32px 20px;
      }
      .testimg3 {
        position: absolute;
        margin: 104px 20px;
      }
      .content {
        position: static;
        margin: 10px 45px;
        width: 254px;
        font-size: 18px;
        line-height: 32px;
        height: 255px;
      }
      .Detail {
        position: static;
        margin: 10px 45px;
        width: 254px;
        font-weight: bold;
        line-height: 24px;
        font-size: 18px;
        span {
          font-size: 14px;
          color: #969bab;

          line-height: 24px;
        }
      }
    }
  }
}
.SectionStats {
  display: flex;
  height: 250px;
  justify-content: space-evenly;
  top: 1600px;
  align-items: center;
  position: relative;
  &-info {
    .title {
      font-size: 48px;
      width: 440px;
      line-height: 64px;
      padding-left: 165px;
    }
    .desc {
      font-size: 18px;
      line-height: 32px;
      width: 440px;
      padding-left: 165px;
    }
  }
  &-Count {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    .listcount {
      width: 250px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 20px 20px;
      .info {
        &-title {
          font-size: 25px;
          font-weight: 900;
        }
      }
    }
  }
}
.PhoneMockup {
  display: flex;
  height: 600px;
  justify-content: space-evenly;
  top: 1700px;
  align-items: center;
  position: relative;
  img {
    width: 540px;
    height: 540px;
  }
  .info {
    width: 440px;
    height: 200px;
    .Headline {
      font-size: 35px;
      font-weight: bold;
      margin: 32px 0px;
    }
    .des {
      font-size: 18px;
      line-height: 32px;
    }
    .link {
      font-size: 16px;
      line-height: 24px;
      margin: 32px 0px;
      a {
        color: $colorbutton;
        font-weight: 700;
        i {
          margin: 0 10px;
        }
      }
    }
  }
}
.Single {
  display: flex;
  height: 600px;
  justify-content: center;
  top: 1800px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  .heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    width: 540px;
  }
  p {
    font-size: 18px;
    line-height: 32px;
    width: 540px;
  }
}
.footerhead {
  display: flex;
  height: 495px;
  justify-content: space-around;
  top: 1850px;
  align-items: center;
  position: relative;
  background-color: #2ec5ce;
  .content {
    width: 540px;
    margin-right: 100px;
    h1 {
      margin: 8px 0px;
      font-size: 48px;
      line-height: 64px;
    }
    .des {
      font-size: 18px;
      line-height: 32px;
    }
    .contentp {
      font-size: 18px;
      line-height: 28px;
      margin-top: 60px;
      font-weight: 600;
    }
    img {
      width: 135px;
      margin-top: 10px;
    }
  }
  .Phone {
    .phone1 {
      left: 700px;
      top: 0px;
      position: absolute;
      height: 430px;
    }
    .phone2 {
      position: absolute;
      left: 960px;
      bottom: 0px;
      height: 434px;
    }
  }
}
.footerbottom{
  display: flex;
  height: 300px;
  justify-content: space-evenly;
  top: 1850px;
  position: relative;
  background-color: #18191f;
  color: white;
  .contentleft{
    width: 589px;
    height: 168px;
    top: 56px;
    .logo{
      margin: 54px 24px 25px;
    }
    .row1{
      .menu{
        display: flex;
        &-item{
          list-style: none;
          margin: 10px 24px;
          font-size: 16px;
          line-height: 26px;
          a{
            color: white;
          }
        }
      }
    }
    .row2{
      .menu{
        display: flex;
        width: 489px;
        &-item{
          list-style: none;
          margin: 10px 24px;
          font-size: 16px;
          width: 130px;
          line-height: 26px;
          a{
            color: white;
          }
        }
      }
    }
    .source{
      line-height: 26px;
      margin: 14px 24px;
    }
  }
  .contentright{
    width: 160px;
    margin: 54px 0px;
    img{
      width: 140px;
      margin: 14px 0px;
    }
    p{
      line-height: 28px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
