
.scroll{
    display: none;
}

// .btn_dropdown{
//     display: none;
// }

// .btn_drop{display: none;}

@media only screen and (min-width : 375px) 
and (max-width : 736px){
    /* Styles */
    
    .wrapper{
        // height: 50vh;
        .container{
            .Navigation{
                display: NONE;
            }
            .header{
                padding-top: 100px;
                &-logPage{
                    img{
                        max-width: 100px;
                    }
                }
                
                .scroll{
                    width: 50px;
                    height: 100px;
                    border: 1px solid #FFFFFF;
                    border-radius: 100rem;
                    display: block;
                    margin: 40px auto;
                    position: relative;
                    opacity: 0;
                    animation: scale 2s linear forwards;
                    animation-delay: 8s;
                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        animation: scroll 1.5s infinite ease-out;
                    }
                }
                @keyframes scroll {
                    0%{
                        opacity: 1;
                        top:30px;
                    }
                    100%{
                        opacity: 0;
                        top: 70px;
                    }
                }
                &-content{
                    line-height: 64px;
                    &-title,&-desc{
                        font-size: 20px;
                    }
                    &-name{
                        font-size: 40px;
                    }
                }
            }
        }
    }
    .AboutMe{
        height: auto;
        padding: 50px 0px !important;
        .container{
            .About_Me{
                display: block;
                &-info{
                    .Avartar{
                        margin: 0 auto;
                        max-width: 300px;
                    }
                }
                &-Content{
                    text-align: center;
                    margin: 0 auto;
                    .title-desc{
                        padding-top: 20px;
                    }
                    .Title{
                        font-size: 35px;
                        &:after{
                            width: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        &-z{
                            position: relative;
                            padding: 2px;
                            background-color: #1E1E1E;
                            z-index: 2;
                        }                    
                    }
                    .btn{
                        margin: 0 auto;
                        padding: 8px 20px;
                        display: block;
                        margin-top: 20px;
                        &-second{
                            // margin: 30px 40px;
                        }
                    }
                }
            }
        }
    }
    .Skill{
        .container{
            display: block;
            text-align: center;
            margin-top: 40px;
            .Skill_Webdesign{
                padding-bottom: 60px;
                &-Title{
                    margin: 0 auto;
                }
            }
        }
    }
    .intro{
        &-Logo{
            width: 300px;
            height: 300px;
        }
    }
    .Contact{
        &-info{
            display: block;
            &-Compo{
                padding: 20px 20px;
                width: 300px;
                margin: 0 auto;
            }
        }
    }
    .Footer{
        .name{
            &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: antiquewhite;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            span{
                position: relative;
                padding: 2px;
                background-color: #1e1e1e;
                z-index: 2;
                font-size: 30px;
            }
        }
    }
    .My_Resume-Content{
        display: block;
        padding: 20px;
        .Block{
            margin-bottom: 20px;
        }
      
    }
}
    

