@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mulish';
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: 'Mulish';
}

a {
  text-decoration: none;
}

body {
  font-family: 'Mulish';
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background: linear-gradient(120deg, #122B40, #446CB3);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper .container {
  max-width: 1170px;
  margin: 20px auto;
  padding: 0 100px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.494), 0px 4px 50px rgba(255, 249, 249, 0.467), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.494), 0px 4px 50px rgba(255, 249, 249, 0.467), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.wrapper .container .header {
  text-align: center;
}

.wrapper .container .header-Title {
  margin: 0 auto;
  font-size: 40px;
  width: 300px;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(45deg, #005387, #8cb811, #fdb813, #88aca1, #000000, #788cb6);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: txtcolor 3s linear infinite;
          animation: txtcolor 3s linear infinite;
}

@-webkit-keyframes txtcolor {
  100% {
    background-position: 200%;
  }
}

@keyframes txtcolor {
  100% {
    background-position: 200%;
  }
}

.wrapper .container .boder {
  width: 150px;
  margin: 0 auto;
  background-color: #0099ff;
  border: 2px solid #0099ff;
}

.wrapper .container .Block_function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.wrapper .container .Block_function-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .container .Block_function-btn-add {
  width: 32px;
  height: 32px;
  padding: 4px 4px;
  border-radius: 12px;
  border: 0;
  background-color: #0099ff;
}

.wrapper .container .Block_function-input {
  margin-left: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  background-color: #CCC;
  border-radius: 20px;
}

.wrapper .container .Block_function-input svg {
  cursor: pointer;
}

.wrapper .container .Block_function-input-search {
  border: 0;
  padding: 7px 10px 4px;
  margin-left: 5px;
  background: none;
}

.wrapper .container .Block_function-input-search:focus {
  outline: none;
}

.wrapper .container .modal, .wrapper .container .modal1 {
  font-family: 'Mulish';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.616);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.wrapper .container .modal, .wrapper .container .modal1 {
  display: none;
}

.wrapper .container .modal-content {
  min-height: 350px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-animation: scale 0.3s linear forwards;
          animation: scale 0.3s linear forwards;
  width: 100%;
  max-width: 500px;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
}

.wrapper .container .modal-content h1 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.wrapper .container .modal-content-input {
  margin-top: 10px;
}

.wrapper .container .modal-content-input label {
  color: #6d6c6c;
  font-weight: bold;
}

.wrapper .container .modal-content-input-children {
  width: 100%;
  margin-bottom: 10px;
  height: 30px;
  display: block;
  border: 0;
  padding-left: 10px;
  border-radius: 4px;
  background-color: #c9c4c4;
}

.wrapper .container .modal-content-input-children1 {
  margin-bottom: 10px;
  padding-left: 10px;
  width: 200px;
  height: 30px;
  display: block;
  border: 0;
  border-radius: 4px;
  background-color: #c9c4c4;
}

.wrapper .container .modal-content-input input:focus {
  outline: none;
}

.wrapper .container .modal-content .btn {
  width: 300px;
  margin: 0 auto;
}

.wrapper .container .modal-content .btn-submit {
  padding: 2px 10px;
  border: 0;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  display: block;
  color: white;
  background-color: #0099ff;
  margin-left: 90px;
}

@-webkit-keyframes scale {
  0% {
    opacity: 0.2;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    opacity: 0.2;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.wrapper .container .modal-close, .wrapper .container .modal-close1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 10rem;
  background-color: #0099ff;
  color: white;
  cursor: pointer;
}

.wrapper .container .Table {
  margin-top: 10px;
  height: 410px;
}

.wrapper .container .Table-Data {
  width: 100%;
  display: block;
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25), 0px 4px 50px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25), 0px 4px 50px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper .container .Table-Data th, .wrapper .container .Table-Data td {
  padding: 15px;
}

.wrapper .container .Table-Data td {
  font-size: 14px;
  font-size: 'Mulish';
  font-weight: 500;
}

.wrapper .container .Table-Data .selected {
  background-color: #c9c4c4;
}

.wrapper .container .Table-Data tr:hover {
  background-color: #c9c4c4;
}

.wrapper .container .Table-Data td:hover {
  background-color: #0099ff;
  color: #ffffff;
}

.wrapper .container .Table-Data th {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.wrapper .container .Table-Data th:hover {
  background-color: #0099ff;
}

.wrapper .container .Table-Data td button {
  width: 30px;
  height: 30px;
  background: #FFA800;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 50px #C4C4C4;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 50px #C4C4C4;
  border-radius: 12px;
  border: 0;
}

.wrapper .container .Table-Data td button:hover {
  -webkit-transition: 0.4 all;
  transition: 0.4 all;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.wrapper .container .Table-Data td .btn-del {
  background-color: #FF4B4B;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */