.navfooter{
    width: 100%;
    height: 58px;
    margin-top: 50px;
    background-image: url('/Thuanvm/Media/background.png');
    .container{
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
        text-align: center;
        .menu{
            display: flex;
            list-style: none;
            justify-content: center;
            &-item{
                padding: 12px 5px;
               
                &-link{
                    padding: 5px 20px;
                    background: none;
                    border: 0;
                    color: #FFFFFF;
                    border-right: 1px solid #89E2F5;
                }
            }
        }
    }
}

.footer{
    width: 100%;
    background-color: #2C3749;
    .container{
        max-width: 1170px;
        margin: 0 auto;
        padding: 5px 15px;
        display: flex;

        .list{
            padding: 55px 15px;
            &-item{
                display: flex;
                &-grid{
                    padding: 0 15px;
                    &-content{
                        color: #FFFFFF;
                        font-size: 14px;
                        line-height: 20px;
                        font-style: normal;
                        font-weight: normal;
                    }
                }
            }
            img{
                max-width: 300px;
            }
            .note{
                margin-top: 20px;
            }
            .title{
                font-size: 16px;
                color: #FFFFFF;
                margin-bottom: 25px;
            }
            .content{
                width: 268px;
                font-size: 14px;
                color: #FFFFFF;
                line-height: 20px;
                font-style: normal;
                font-weight: normal;
            }
            .content:not(:first-child){
                margin-bottom: 20px;
            }
        }
    }
}

.footerend{
    width: 100%;
    background-color: #3B4556;
    .container{
        max-width: 1170px;
        margin: 0 auto;
        padding: 5px 15px;
        display: flex;
        padding-top: 30px;
        p{
            color: #FFFFFF;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
        }
        .by_attch{
            margin-left: auto;
        }
    }
}