.intro{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    transition: 1s;
    .logo-header{
        position: absolute;
        width: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
   
}
.intro.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.intro.fade{
    bottom: 50px;
    opacity: 0;
    z-index: -1;
    transition: ease-in-out 0.5s;
}



.wrapper{
    width: 100%;
    height: 50px;
    background-color: #59C8E0;
    border-bottom: 3px solid #178EA8;
    .container{
        max-width: 1170px;
        padding: 0 15px;
        margin: 0 auto;
        
        .header{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            position: relative;
            &-social{
                display: flex;
                position: absolute;
                left: -100px;
                padding: 12px 24px;
                opacity: 0;
                animation: slideRight 0.5s linear forwards;
                animation-delay: 0.7s;
                @keyframes slideRight{
                    0%{
                        transform: translateX(0px);
                        opacity: 0;
                    }
                    100%{
                        transform: translateX(100px);
                        opacity: 1;
                    }
                }
                img{
                    padding: 0px 14px;
                }
                .line{
                    width: 1px;
                    background: #89E2F5;
                }
            }
            &-menu{     
                margin-left: auto;
                display: flex;
                list-style: none;
                align-items: center;
                opacity: 0;
                animation: slideLeft 0.5s linear forwards;
                animation-delay: 0.8s;
                @keyframes slideLeft{
                    0%{
                        transform: translateX(100px);
                        opacity: 0;
                    }
                    100%{
                        transform: translateX(0px);
                        opacity: 1;
                    }
                }
                &-item:not(:last-child){
                    margin-right: 15px;
                    border-right: 2px solid #89E2F5;
                }
               
                &-item{
                    margin-top: 10px;
                    text-align: center;
                    padding: 2px 15px;
                    border: 0;
                    background: #59C8E0;
                    color: #FFFFFF;
                    font-weight: 400;
                }
            }
        }
    }
}
.headerLocal{
    width: 100%;
    margin: 0 auto;
    margin-right: 50px;
    border-bottom: 1px solid #D3D7DE;
    .container{
        max-width: 1170px;
        padding: 0 15px;
        margin: 0 auto;
        .Local{
            display: flex;
            align-items: flex-start;
            .logo{
                padding: 15px 22px ;
                cursor: pointer;
                opacity: 0;
                animation: scale 0.5s linear forwards;
                animation-delay: 0.2s;
                @keyframes scale{
                    0%{
                        transform: scale(0);
                        opacity: 0;
                    }
                    100%{
                        transform: translateX(1.2);
                        opacity: 1;
                    }
                }
            }
            &-search{
                display: flex;
                margin-left: auto;
                margin-top: 25px;
                width: 500px;
                align-items: center;
                justify-content: space-evenly;
                opacity: 0;
                animation: scale 0.5s linear forwards;
                animation-delay: 0.2s;
                &-input{
                    background-color: #FFFFFF;
                    border-radius: 50px;
                    border: 1px solid #D3D7DE;;
                    width: 315px;
                    height: 40px;
                    padding-top: 5px;
                    box-sizing: border-box;
                    text-align: center;
                    &-text{
                        color: #AAB2BF;
                        font-weight: normal;
                        width: 250px;
                        border: none;
                        margin: 0 auto;
                    }
                    &-text::placeholder{
                        color: #AAB2BF;
                    }
                    &-text:focus{
                        outline: none;
                    }
                    &-icons{
                        border: 0;
                        background: none;
                    }
                }
                .cartboder{
                    cursor: pointer;
                    .cartnumber{
                        background-color: #FF2727;
                        width: 15px;
                        height: 15px;
                        border-radius: 100rem;
                        text-align: center;
                        font-size: 10px;
                        position: absolute;
                        margin: -20px 10px;
                        color: white;
                        font-weight: bold;
                    }
                }
            }
            
        }
    }
}

.Navbar{
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
    &-Menu{
        display: flex;
        list-style: none;
        &-item:not(:first-child){
            margin-left: 50px;
        }
        
        &-item{
            // opacity: 0;
            // transition: 0.5s all;
            // animation: slideTop 0.5s linear forwards;
            // animation-delay: 2.5s;
            margin-top: 20px;
            position: relative;

            &-link{
                border: 0;
                text-align: center;
                background: none;
                padding: 10px 2px;
                font-weight: bold;
                color: #172B4D;
                opacity: 0;
                transition: 0.2s all;
                animation: slideTop 1s linear forwards;
                animation-delay: calc(0.1s * var(--i));
            }
         
           
        }

       
        @keyframes slideTop{
            0%{
                transform: translateY(100px);
                opacity: 0;
            }
            100%{
                transform: translateY(0px);
                opacity: 1;
            }
        }
        &-item::after{
            content: "";
            position: absolute;
            width: 100%;
            border-bottom: 2.5px solid $colorHeading1;
            left: 0;
            bottom: 0;
            transform: scale(0, 1);
            transition: transform 0.5s ease;
        }
        &-item:hover::after {
            transform: scale(1, 1);
          }
        .active{
            border-bottom: 2.5px solid $colorHeading1;
        }
    }
}

.slidePage{
    width: 100%;
    // #slide1,#slide2,#slide3{
    //     position: absolute;
    //     // top: 0;
    //     // left: 0;
    //     // object-fit: cover;
    //     // width: 100%;
    //     // height: 100%;
    // }
    .carousel-indicators{
        img{
            height: 440px;
        }
        .point{
            width: 20px;
            height: 20px;
            margin-left: 20px;
            border-radius: 100rem;
            border: 1px solid #59C8E0;
            box-sizing: border-box;

        }
        button{
            border: 1px solid #59C8E0;
            position: absolute;
            margin-top: 3px;
            margin-left: 3px;
            border-radius: 100rem;
            width: 10px;
            height: 10px;
        }
        .active{
            background-color: #59C8E0;
        }
    }
    .carousel-caption{
        text-align: left;
        max-width: 1170px !important;
        margin: 0 auto !important;
        left: 100px;
        top: 110px;
        
       .slideTitle{
           color: $colorHeading1;
           font-size: $fontsizeHeading1;
           font-weight: $fontweight1;
           font-style: $fontstyle1;
           max-width: 459px;
       }
       .slideDesc{
        color: $color-content;
        font-size: $fontsize-content;
        font-style: $fontstyle-content;
        max-width: 467px;
       }
    }
}