.ReasonPage{
    width: 100%;
    margin-top: 30px;
    background-image: url('/Thuanvm/Media/bg1.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    .overlay{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #EDEDEF;
        opacity: 0.8;
    }
    .container{
        max-width: 1170px;
        height: 550px;
        padding: 0 15px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
        .title{
            font-size: $fontsizeHeading2;
            color: $colorHeading2;
            line-height: $lineheight2;
            font-weight: $fontweight1;
            padding-top: 40px;
        }
        h6{
            font-size: 18px;
            font-weight: 700;
            color: #172B4D;
            line-height: 26px;
            font-weight: bold;
        }
        p{
            
            text-align: center;
            height: 120px;
            line-height: 24px;
            font-weight: normal;
            color: #6B778C;;
        }
        .boder{
            border: 1px solid $colorHeading1;
            border-radius: 100rem;
            width: 20px;
            height: 20px;
            button{
                width: 15px;
                height: 15px;
                border-radius: 100rem;
                background-color: red;
            }
        }
    }
}