* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mulish';
}

body {
  overflow-x: hidden;
  background-repeat: no-repeat;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: 'Mulish';
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.intro {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.intro .logo-header {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro.active {
  bottom: 0;
  opacity: 1;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.intro.fade {
  bottom: 50px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.wrapper {
  width: 100%;
  height: 50px;
  background-color: #59C8E0;
  border-bottom: 3px solid #178EA8;
}

.wrapper .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.wrapper .container .header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -100px;
  padding: 12px 24px;
  opacity: 0;
  -webkit-animation: slideRight 0.5s linear forwards;
          animation: slideRight 0.5s linear forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 1;
  }
}

.wrapper .container .header-social img {
  padding: 0px 14px;
}

.wrapper .container .header-social .line {
  width: 1px;
  background: #89E2F5;
}

.wrapper .container .header-menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: slideLeft 0.5s linear forwards;
          animation: slideLeft 0.5s linear forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.wrapper .container .header-menu-item:not(:last-child) {
  margin-right: 15px;
  border-right: 2px solid #89E2F5;
}

.wrapper .container .header-menu-item {
  margin-top: 10px;
  text-align: center;
  padding: 2px 15px;
  border: 0;
  background: #59C8E0;
  color: #FFFFFF;
  font-weight: 400;
}

.headerLocal {
  width: 100%;
  margin: 0 auto;
  margin-right: 50px;
  border-bottom: 1px solid #D3D7DE;
}

.headerLocal .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.headerLocal .container .Local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headerLocal .container .Local .logo {
  padding: 15px 22px;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: scale 0.5s linear forwards;
          animation: scale 0.5s linear forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(1.2);
            transform: translateX(1.2);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(1.2);
            transform: translateX(1.2);
    opacity: 1;
  }
}

.headerLocal .container .Local-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-top: 25px;
  width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  opacity: 0;
  -webkit-animation: scale 0.5s linear forwards;
          animation: scale 0.5s linear forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.headerLocal .container .Local-search-input {
  background-color: #FFFFFF;
  border-radius: 50px;
  border: 1px solid #D3D7DE;
  width: 315px;
  height: 40px;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.headerLocal .container .Local-search-input-text {
  color: #AAB2BF;
  font-weight: normal;
  width: 250px;
  border: none;
  margin: 0 auto;
}

.headerLocal .container .Local-search-input-text::-webkit-input-placeholder {
  color: #AAB2BF;
}

.headerLocal .container .Local-search-input-text:-ms-input-placeholder {
  color: #AAB2BF;
}

.headerLocal .container .Local-search-input-text::-ms-input-placeholder {
  color: #AAB2BF;
}

.headerLocal .container .Local-search-input-text::placeholder {
  color: #AAB2BF;
}

.headerLocal .container .Local-search-input-text:focus {
  outline: none;
}

.headerLocal .container .Local-search-input-icons {
  border: 0;
  background: none;
}

.headerLocal .container .Local-search .cartboder {
  cursor: pointer;
}

.headerLocal .container .Local-search .cartboder .cartnumber {
  background-color: #FF2727;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  text-align: center;
  font-size: 10px;
  position: absolute;
  margin: -20px 10px;
  color: white;
  font-weight: bold;
}

.Navbar {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}

.Navbar-Menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.Navbar-Menu-item:not(:first-child) {
  margin-left: 50px;
}

.Navbar-Menu-item {
  margin-top: 20px;
  position: relative;
}

.Navbar-Menu-item-link {
  border: 0;
  text-align: center;
  background: none;
  padding: 10px 2px;
  font-weight: bold;
  color: #172B4D;
  opacity: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-animation: slideTop 1s linear forwards;
          animation: slideTop 1s linear forwards;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
}

@-webkit-keyframes slideTop {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.Navbar-Menu-item::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 2.5px solid #178EA8;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.Navbar-Menu-item:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.Navbar-Menu .active {
  border-bottom: 2.5px solid #178EA8;
}

.slidePage {
  width: 100%;
}

.slidePage .carousel-indicators img {
  height: 440px;
}

.slidePage .carousel-indicators .point {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  border-radius: 100rem;
  border: 1px solid #59C8E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slidePage .carousel-indicators button {
  border: 1px solid #59C8E0;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 100rem;
  width: 10px;
  height: 10px;
}

.slidePage .carousel-indicators .active {
  background-color: #59C8E0;
}

.slidePage .carousel-caption {
  text-align: left;
  max-width: 1170px !important;
  margin: 0 auto !important;
  left: 100px;
  top: 110px;
}

.slidePage .carousel-caption .slideTitle {
  color: #178EA8;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  max-width: 459px;
}

.slidePage .carousel-caption .slideDesc {
  color: #6B778C;
  font-size: 16px;
  font-style: normal;
  max-width: 467px;
}

.MenuProduct {
  max-width: 1440px;
  margin: 0 auto;
}

.MenuProduct-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.MenuProduct-container .Title {
  text-align: center;
}

.MenuProduct-container .Title-heading {
  margin-top: 37px;
  color: #178EA8;
  font-weight: bold;
  font-style: normal;
  line-height: 60px;
}

.MenuProduct-container .Title-desc {
  color: #6B778C;
  font-style: normal;
  line-height: 24px;
  margin-top: 24px;
}

.MenuProduct-container .Product-card .row .col {
  width: 300px;
  height: 360px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
  margin: 15px 20px;
  cursor: pointer;
}

.MenuProduct-container .Product-card .row .col img {
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.MenuProduct-container .Product-card .row .col .info {
  position: relative;
  z-index: 3;
  top: 100px;
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.MenuProduct-container .Product-card .row .col .info h1 {
  font-size: 24px;
  line-height: 36px;
  font-style: normal;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.MenuProduct-container .Product-card .row .col .info button {
  padding: 9px 20px;
  border-radius: 50px;
  background: none;
  color: #FFFFFF;
  opacity: 1;
  border: 2px solid #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.MenuProduct-container .Product-card .row .col:hover .info {
  opacity: 1;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

.MenuProduct-container .Product-card .row .col:hover .info h1 {
  opacity: 1;
  -webkit-transition: 1s all;
  transition: 1s all;
  border-radius: 12px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.MenuProduct-container .Product-card .row .col:hover .info button {
  opacity: 1;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #178EA8;
}

.MenuProduct-container .Product-card .row .col:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.MenuProduct-container .Product-card .row .col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0e0e0ea4;
  z-index: 2;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 1;
}

.MenuProduct-container .Product-card .row .col:hover:before {
  opacity: 0;
  border-radius: 4px;
}

.ReasonPage {
  width: 100%;
  margin-top: 30px;
  background-image: url("/Thuanvm/Media/bg1.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.ReasonPage .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #EDEDEF;
  opacity: 0.8;
}

.ReasonPage .container {
  max-width: 1170px;
  height: 550px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.ReasonPage .container .title {
  font-size: 40px;
  color: #178EA8;
  line-height: 60px;
  font-weight: bold;
  padding-top: 40px;
}

.ReasonPage .container h6 {
  font-size: 18px;
  font-weight: 700;
  color: #172B4D;
  line-height: 26px;
  font-weight: bold;
}

.ReasonPage .container p {
  text-align: center;
  height: 120px;
  line-height: 24px;
  font-weight: normal;
  color: #6B778C;
}

.ReasonPage .container .boder {
  border: 1px solid #178EA8;
  border-radius: 100rem;
  width: 20px;
  height: 20px;
}

.ReasonPage .container .boder button {
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: red;
}

.FeedBack {
  max-width: 1440px;
  margin: 0 auto;
}

.FeedBack .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.FeedBack .container .Title {
  font-size: 40px;
  color: #178EA8;
  line-height: 60px;
  font-weight: bold;
  padding-top: 60px;
}

.Partner {
  max-width: 1440px;
  margin: 55px auto;
}

.Partner .container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.Partner .container .Title {
  font-size: 40px;
  color: #178EA8;
  line-height: 60px;
  font-weight: bold;
}

.Partner .container .logopartner {
  margin-bottom: 60px;
}

.Partner .container .logopartner .items .logo:hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navfooter {
  width: 100%;
  height: 58px;
  margin-top: 50px;
  background-image: url("/Thuanvm/Media/background.png");
}

.navfooter .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.navfooter .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navfooter .container .menu-item {
  padding: 12px 5px;
}

.navfooter .container .menu-item-link {
  padding: 5px 20px;
  background: none;
  border: 0;
  color: #FFFFFF;
  border-right: 1px solid #89E2F5;
}

.footer {
  width: 100%;
  background-color: #2C3749;
}

.footer .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .list {
  padding: 55px 15px;
}

.footer .container .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .list-item-grid {
  padding: 0 15px;
}

.footer .container .list-item-grid-content {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
}

.footer .container .list img {
  max-width: 300px;
}

.footer .container .list .note {
  margin-top: 20px;
}

.footer .container .list .title {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.footer .container .list .content {
  width: 268px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
}

.footer .container .list .content:not(:first-child) {
  margin-bottom: 20px;
}

.footerend {
  width: 100%;
  background-color: #3B4556;
}

.footerend .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.footerend .container p {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.footerend .container .by_attch {
  margin-left: auto;
}

.Link_Page {
  width: 100%;
  margin: 0 auto;
  background-color: #F8F8F8;
}

.Link_Page .container {
  max-width: 1170px;
  padding: 7px 45px;
  margin: 0 auto;
}

.Link_Page .container .Link a {
  text-decoration: none;
}

.Link_Page .container .Link h6 {
  margin: 2px 0px;
}

.Link_Page .container .Link h6 .index {
  color: #6B778C;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.Link_Page .container .Link h6 .compopage {
  font-family: 'Mulish';
  font-style: normal;
  color: #172B4D;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.Block_Category {
  max-width: 1440px;
  margin: 0 auto;
}

.Block_Category .container {
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Block_Category .container .vertical_Menu {
  margin-top: 40px;
  margin-left: 10px;
  width: 250px;
  /* Set a width if you like */
  padding: 24px 24px;
  border: 1px solid #D3D7DE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.Block_Category .container .vertical_Menu-title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  border: none;
  background: 0;
  font-size: 24px;
  line-height: 36px;
  color: #172B4D;
}

.Block_Category .container .vertical_Menu-item {
  color: black;
  /* Black text color */
  display: block;
  /* Make the links appear below each other */
  padding: 16px 0px;
  text-decoration: none;
  /* Remove underline from links */
  border-bottom: 1px solid #D3D7DE;
}

.Block_Category .container .vertical_Menu-item:hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.Block_Category .container .vertical_Menu .active {
  background-color: #04AA6D;
  /* Add a green color to the "active/current" link */
  color: white;
}

.Block_Category .container .vertical_Menu-item:hover {
  background-color: #59C8E0;
  /* Dark grey background on mouse-over */
}

.Block_Category .container .card_Product {
  margin: 40px 25px;
}

.Block_Category .container .card_Product-banner img {
  border-radius: 4px;
}

.Block_Category .container .card_Product-Filter_Products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Block_Category .container .card_Product-Filter_Products-result {
  color: #178EA8;
}

.Block_Category .container .card_Product-Filter_Products-result span {
  color: #178EA8;
  font-weight: bold;
}

.Block_Category .container .card_Product-Filter_Products-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.Block_Category .container .card_Product-Filter_Products-dropdown p {
  margin-right: 20px;
  font-size: 16px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #6B778C;
}

.Block_Category .container .card_Product-Filter_Products-dropdown .dropdown {
  border: 1px solid #6B778C;
  border-radius: 20px;
  position: relative;
  display: inline-block;
}

.Block_Category .container .card_Product-Filter_Products-dropdown .dropdown-content {
  top: 50px;
  right: 0;
  display: none;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  background-color: #FFFFFF;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Block_Category .container .card_Product-Filter_Products-dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Block_Category .container .card_Product-Filter_Products-dropdown .dropdown-content a:hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.Block_Category .container .card_Product-Filter_Products-dropdown .dropdown .show {
  display: block;
}

.Block_Category .container .card_Product-Filter_Products-dropdown .dropdown .btn {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.Block_Category .container .card_Product-Filter_Products-dropdown .dropdown .btn i {
  margin-left: 40px;
}

.Block_Category .container .menuProduct .row {
  margin-top: 33px;
}

.Block_Category .container .menuProduct .row .col-sm .ribbon {
  position: absolute;
  background-color: #FF2727;
  width: 113px;
  height: 32px;
  margin-top: 16px;
  margin-left: -10px;
  text-align: center;
}

.Block_Category .container .menuProduct .row .col-sm .ribbon p {
  text-align: center;
  font-size: 16px;
  color: white;
}

.Block_Category .container .menuProduct .row .col-sm .ribbon p span {
  color: #FCC607;
  font-size: 18px;
}

.Block_Category .container .menuProduct .row .col-sm .ribbon::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  border-left: 5px solid transparent;
  border-right: 4px solid #FF2727;
  border-top: 4px solid #FF2727;
  border-bottom: 5px solid transparent;
}

.Block_Category .container .menuProduct .row .col-sm .ribbon::after {
  content: "";
  position: absolute;
  top: -9px;
  right: -11px;
  left: 10px;
  border-right: 25px solid #fafafa;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.Block_Category .container .menuProduct .row .col-sm img {
  border-radius: 4px;
  margin-bottom: 16px;
}

.Block_Category .container .menuProduct .row .col-sm img:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-box-shadow: 2px 2px 2px 1px #ccc;
          box-shadow: 2px 2px 2px 1px #ccc;
}

.Block_Category .container .menuProduct .row .col-sm .info {
  text-align: center;
}

.Block_Category .container .menuProduct .row .col-sm .info h1 {
  font-size: 18px;
  font-weight: bold;
  color: #172B4D;
}

.Block_Category .container .menuProduct .row .col-sm .info p {
  height: 100%;
  color: #6B778C;
}

.Block_Category .container .menuProduct .row .col-sm .info .price {
  color: #178EA8;
  font-weight: bold;
}

.Block_Category .container .menuProduct .row .col-sm .info .price del {
  color: #6B778C;
  margin-right: 8px;
}

.Block_Category .container .menuProduct .row .col-sm .info button {
  padding: 9px 16px;
  background-color: #59C8E0;
  border-radius: 30px;
  border: 0;
  color: white;
}

.Block_Category .container .menuProduct .row .col-sm .info button i {
  margin-left: 10px;
}

.Block_Category .container .menuProduct .row .col-sm .info button:hover {
  background-color: #0099ff;
}

.Block_Category .container .menuProduct .row .col-sm .info button:hover .book {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-right: 20px;
}

.Block_Category .container .menuProduct nav {
  margin-top: 40px;
}

.Block_Category .container .menuProduct nav i {
  color: #172B4D;
}

.Block_Category .container .menuProduct nav .page-item {
  padding: 2px 8px;
}

.Block_Category .container .menuProduct nav .page-item a {
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #172B4D;
}

.Block_Category .container .menuProduct nav .page-item #pag {
  border: none;
  font-weight: bold;
}

.Block_Category .container .menuProduct nav .active {
  background-color: #59C8E0;
  color: white;
}

.BlockSale {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F8F8F8;
}

.BlockSale .container {
  max-width: 1200px;
  padding: 40px 0px;
  margin: 0 auto;
}

.BlockSale .container h1 {
  color: #178EA8;
  font-weight: bold;
  text-align: center;
}

.BlockSale .container h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #172B4D;
}

.BlockSale .container p {
  font-size: 16px;
  line-height: 24px;
  color: #6B778C;
}

.BlockSale .container .content {
  margin-top: 16px;
  margin-bottom: 16px;
}

.BlockSale .container .slick-prev {
  background-color: white !important;
  border-radius: 100rem !important;
  margin-left: 40px;
  top: 150px;
  z-index: 9;
  width: 40px !important;
  height: 40px !important;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.BlockSale .container .slick-next {
  background-color: white !important;
  border-radius: 100rem !important;
  top: 150px;
  margin-right: 10px;
  width: 40px !important;
  height: 40px !important;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.Product-Details {
  max-width: 1140px;
  margin: 0 auto;
}

.Product-Details .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Product-Details .container .slideProduct-Image-Product {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  margin-left: 10px;
}

.Product-Details .container .slideProduct-thumnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Product-Details .container .slideProduct-thumnail-img {
  width: 100%;
  height: 100%;
  list-style: none;
  margin-left: 10px;
  margin-top: 14px;
}

.Product-Details .container .contentProduct-Title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-top: 40px;
  margin-left: 100px;
}

.Product-Details .container .contentProduct .row .stars {
  margin-left: 100px;
}

.Product-Details .container .contentProduct .row .stars div.stars {
  width: 270px;
  display: inline-block;
  position: relative;
  bottom: 10px;
}

.Product-Details .container .contentProduct .row .stars input.star {
  display: none;
}

.Product-Details .container .contentProduct .row .stars label.star {
  font-size: 26px;
  color: #FF2727;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.Product-Details .container .contentProduct .row .stars input.star:checked ~ label.star:before {
  content: '\2605';
  color: #6B778C;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.Product-Details .container .contentProduct .row .stars input .start-5s, .Product-Details .container .contentProduct .row .stars .star-5c:checked ~ label.star:before {
  color: #FF2727;
}

.Product-Details .container .contentProduct .row .stars input .start-1s, .Product-Details .container .contentProduct .row .stars .star-1c:checked ~ label.star:before {
  color: #F62;
}

.Product-Details .container .contentProduct .row .stars label.star:hover {
  -webkit-transform: rotate(-15deg) scale(1.3);
          transform: rotate(-15deg) scale(1.3);
}

.Product-Details .container .contentProduct .row .stars label.star:before {
  content: '\2605';
  font-family: 'FontAwesome';
}

.Product-Details .container .contentProduct .Price {
  margin-left: 105px;
  margin-top: 11px;
}

.Product-Details .container .contentProduct .Price .price {
  color: #178EA8;
  font-weight: bold;
  font-size: 24px;
}

.Product-Details .container .contentProduct .Price .price del {
  color: #6B778C;
  margin-right: 16px;
  font-size: 18px;
}

.Product-Details .container .contentProduct .Prices {
  margin-left: 100px;
  background-color: #E0FAFF;
  width: 320px;
  margin-bottom: 30px;
  height: 40px;
  position: relative;
  text-align: center;
  padding-top: 7px;
}

.Product-Details .container .contentProduct .Prices .Sale {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #178EA8;
}

.Product-Details .container .contentProduct .Prices .Sale span {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #178EA8;
  margin-right: 15px;
}

.Product-Details .container .contentProduct .Prices::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -12px;
  left: 100px;
  border-right: 25px solid white;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
}

.Product-Details .container .contentProduct .Prices::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: -25px;
  left: -12px;
  border-left: 25px solid white;
  border-right: 25px solid transparent;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
}

.Product-Details .container .contentProduct .boder-Price {
  margin-left: 100px;
  width: 568px;
  margin-top: 10px;
}

.Product-Details .container .contentProduct .content {
  margin-top: 24px;
  margin-left: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #172B4D;
}

.Product-Details .container .contentProduct .Gift {
  margin-top: 24px;
  margin-left: 100px;
  border: 1px solid #6B778C;
  border-radius: 4px;
  width: 110px;
}

.Product-Details .container .contentProduct .Giftprice {
  margin-left: 120px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #178EA8;
}

.Product-Details .container .contentProduct .contact {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Product-Details .container .contentProduct .contact-hotline span {
  font-weight: bold;
  margin-left: 20px;
}

.Product-Details .container .contentProduct .contact-social {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Product-Details .container .contentProduct .contact-social img {
  padding-left: 10px;
  width: 35px;
  height: 35px;
}

.Product-Details .container .contentProduct .blockbuttoncart {
  margin-left: 100px;
  margin-top: 30px;
}

.Product-Details .container .contentProduct .blockbuttoncart button {
  text-align: center;
  padding: 10px 74px;
}

.Product-Details .container .contentProduct .blockbuttoncart .btnadd {
  border: 1px solid #D3D7DE;
  border-radius: 30px;
  background-color: white;
  color: #6B778C;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.Product-Details .container .contentProduct .blockbuttoncart .btnadd:hover {
  -webkit-box-shadow: 0px 8px 8px 0px #ccc;
          box-shadow: 0px 8px 8px 0px #ccc;
}

.Product-Details .container .contentProduct .blockbuttoncart .btnBook {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: white;
  background-color: #59C8E0;
  border: 0;
  border-radius: 30px;
  margin-left: 32px;
}

.Product-Details .Block_Toggle {
  max-width: 1170px;
  margin-top: 60px;
  margin-left: 20px;
  border-bottom: 1px solid #D3D7DE;
}

.Product-Details .Block_Toggle .btns {
  padding: 10px 16px;
  text-align: center;
  border: 1px solid #D3D7DE;
  color: #6B778C;
  background-color: #FFFFFF;
  border-radius: 4px 4px 0px 0px;
}

.Product-Details .Block_Toggle .btns:hover {
  background-color: #59C8E0;
  border: 1px solid #178EA8;
  color: #FFFFFF;
}

.Product-Details .Block_Toggle .active {
  background-color: #59C8E0;
  border: 1px solid #178EA8;
  color: #FFFFFF;
}

.Product-Details .block-content {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 35px;
}

.Product-Details .block-content p {
  color: #6B778C;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.Product-Details .block-content .heading {
  color: #172B4D;
  font-size: 18px;
  font-weight: bold;
}

.Product-Details .block-content .desc span {
  display: block;
  font-size: 15px;
}

.Product-Details .Block-Comment {
  padding: 0 20px;
}

.Product-Details .Block-Comment-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.Product-Details .Block-Comment .Rating {
  border: 1px solid #D3D7DE;
  border-radius: 10px;
}

.Product-Details .Block-Comment .Rating-start {
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6B778C;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #D3D7DE;
}

.Product-Details .Block-Comment .Rating-start div.stars {
  width: 270px;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  bottom: 10px;
}

.Product-Details .Block-Comment .Rating-start input.star {
  display: none;
}

.Product-Details .Block-Comment .Rating-start label.star {
  font-size: 26px;
  color: #D3D7DE;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.Product-Details .Block-Comment .Rating-start input.star:checked ~ label.star:before {
  content: '\2605';
  color: #FF2727;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.Product-Details .Block-Comment .Rating-start input .start-5s, .Product-Details .Block-Comment .Rating-start .star-5c:checked ~ label.star:before {
  color: #FF2727;
}

.Product-Details .Block-Comment .Rating-start input .start-1s, .Product-Details .Block-Comment .Rating-start .star-1c:checked ~ label.star:before {
  color: #F62;
}

.Product-Details .Block-Comment .Rating-start label.star:hover {
  -webkit-transform: rotate(-15deg) scale(1.3);
          transform: rotate(-15deg) scale(1.3);
}

.Product-Details .Block-Comment .Rating-start label.star:before {
  content: '\2605';
  font-family: 'FontAwesome';
}

.Product-Details .Block-Comment .Rating-comment {
  width: 1064px;
  height: 96px;
  color: #6B778C;
  padding: 10px 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Product-Details .Block-Comment .btn-comment {
  display: block;
  margin-top: 24px;
  padding: 9px 44px;
  background-color: #59C8E0;
  color: white;
  border: 0;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 30px;
  margin-left: auto;
}

.Product-Details .boder-price {
  max-width: 1170px;
  margin-left: 20px;
  margin-bottom: 35px;
}

.Product-Details .comment-User {
  margin-top: 24px;
  margin-left: 20px;
}

.Product-Details .comment-User-Total {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #172B4D;
}

.Product-Details .comment-User-Total span {
  color: #178EA8;
}

.Product-Details .comment-User-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.Product-Details .comment-User-details .avartar {
  width: 60px;
  height: 60px;
}

.Product-Details .comment-User-details-content {
  margin-left: 15px;
}

.Product-Details .comment-User-details-content .name {
  font-size: 18px;
  color: #172B4D;
  font-weight: bold;
}

.Product-Details .comment-User-details-content .day {
  font-size: 14px;
  color: #6B778C;
  line-height: 20px;
}

.Product-Details .comment-User-details-content .rating div.stars {
  width: 270px;
  display: inline-block;
  position: relative;
  bottom: 10px;
}

.Product-Details .comment-User-details-content .rating input.star {
  display: none;
}

.Product-Details .comment-User-details-content .rating label.star {
  font-size: 26px;
  color: #FF2727;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.Product-Details .comment-User-details-content .rating input.star:checked ~ label.star:before {
  content: '\2605';
  color: #6B778C;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.Product-Details .comment-User-details-content .rating input .start-5s, .Product-Details .comment-User-details-content .rating .star-5c:checked ~ label.star:before {
  color: #FF2727;
}

.Product-Details .comment-User-details-content .rating input .start-1s, .Product-Details .comment-User-details-content .rating .star-1c:checked ~ label.star:before {
  color: #F62;
}

.Product-Details .comment-User-details-content .rating label.star:hover {
  -webkit-transform: rotate(-15deg) scale(1.3);
          transform: rotate(-15deg) scale(1.3);
}

.Product-Details .comment-User-details-content .rating label.star:before {
  content: '\2605';
  font-family: 'FontAwesome';
}

.Related-products {
  margin-top: 60px;
  background-color: #F8F8F8;
  width: 100%;
}

.Related-products .Title h1 {
  font-size: 40px;
  line-height: 60px;
  color: #178EA8;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.Related-products .logopartner {
  max-width: 1170px;
  margin: 0 auto;
}

.Related-products .logopartner .items .logo .info {
  margin-bottom: 40px;
  text-align: center;
}

.Related-products .logopartner .items .logo .info .NameProduct {
  font-size: 18px;
  font-weight: bold;
  color: #172B4D;
}

.Related-products .logopartner .items .logo .info .price {
  color: #178EA8;
  font-weight: bold;
}

.Related-products .logopartner .items .logo .info .booking {
  padding: 9px 16px;
  background-color: #59C8E0;
  border-radius: 30px;
  border: 0;
  color: white;
}

.Related-products .logopartner .items .logo .info .booking i {
  margin-left: 10px;
}

.Related-products .logopartner .items .logo .info .booking:hover {
  background-color: #0099ff;
}

.Related-products .logopartner .items .logo .info .booking:hover .book {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-right: 20px;
}

.noti {
  margin-top: 15px;
  color: #2cc;
  padding: 15px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid currentColor;
  position: relative;
}

.noti.show {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-animation: scale_noti 1s ease-in;
          animation: scale_noti 1s ease-in;
}

@-webkit-keyframes scale_noti {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale_noti {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.noti.hide {
  display: none;
}

.noti:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
  background-color: currentColor;
  opacity: 0.15;
}

.noti-icon {
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2cc;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.noti-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 15px;
}

.cartShop {
  max-width: 1440px;
  margin: 0 auto;
}

.cartShop .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 45px;
}

.cartShop .container .number-product {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #178EA8;
}

.cartShop .container .number-product span {
  font-weight: bold;
  font-size: 17px;
}

.cartShop .container .cartProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartShop .container .cartProduct-Cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 668px;
}

.cartShop .container .cartProduct-Cart img {
  width: 170px;
  height: 170px;
  border-radius: 4px;
  padding-bottom: 10px;
}

.cartShop .container .cartProduct-Cart .info_cart {
  padding-left: 32px;
}

.cartShop .container .cartProduct-Cart .info_cart-namecart {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #172B4D;
}

.cartShop .container .cartProduct-Cart .info_cart-price {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-top: 16px;
  line-height: 26px;
  color: #178EA8;
}

.cartShop .container .cartProduct-Cart .info_cart-function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.cartShop .container .cartProduct-Cart .info_cart-function button {
  border: 0;
  background: #FFFFFF;
  text-align: center;
  color: #178EA8;
  font-size: 14px;
  font-weight: bold;
}

.cartShop .container .cartProduct-Cart .info_cart-function .boder {
  width: 1px;
  background-color: #D3D7DE;
  margin-left: 10px;
}

.cartShop .container .cartProduct-Cart .info_cart-function .add {
  margin-left: 10px;
}

.cartShop .container .cartProduct-Cart .UpandDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
}

.cartShop .container .cartProduct-Cart .UpandDown button {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid #D3D7DE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.cartShop .container .cartProduct-Cart .UpandDown .SL {
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  padding-top: 3px;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #D3D7DE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.cartShop .container .cartProduct-Bill {
  margin-left: 32px;
  width: 400px;
  background-color: #F8F8F8;
  border-radius: 4px;
  padding: 24px 24px;
}

.cartShop .container .cartProduct-Bill-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #172B4D;
}

.cartShop .container .cartProduct-Bill-content {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 24px;
  color: #172B4D;
}

.cartShop .container .cartProduct-Bill-sale .inputsale {
  width: 247px;
  border-radius: 20px;
  border: 1px solid #D3D7DE;
  padding: 5px 10px;
}

.cartShop .container .cartProduct-Bill-sale .inputsale:focus {
  outline: none;
}

.cartShop .container .cartProduct-Bill-sale .acept {
  margin-left: 5px;
  border: 0;
  padding: 9px 12px;
  border-radius: 20px;
  background: #59C8E0;
  color: #FFFFFF;
}

.cartShop .container .cartProduct-Bill-sale .acept:hover {
  -webkit-box-shadow: 0px 0px 10px #59C8E0;
          box-shadow: 0px 0px 10px #59C8E0;
}

.cartShop .container .cartProduct-Bill .boder-Bill {
  background-color: #D3D7DE;
}

.cartShop .container .cartProduct-Bill-Total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartShop .container .cartProduct-Bill-Total p {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  color: #172B4D;
}

.cartShop .container .cartProduct-Bill-Total .Price {
  margin-left: auto;
  font-size: 18px;
}

.cartShop .container .cartProduct-Bill-PriceSale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartShop .container .cartProduct-Bill-PriceSale P {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
  color: #172B4D;
}

.cartShop .container .cartProduct-Bill-PriceSale .Price {
  margin-left: auto;
}

.cartShop .container .cartProduct-Bill-PriceTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartShop .container .cartProduct-Bill-PriceTotal P {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
  color: #172B4D;
}

.cartShop .container .cartProduct-Bill-PriceTotal .Title {
  text-transform: uppercase;
}

.cartShop .container .cartProduct-Bill-PriceTotal .Price {
  margin-left: auto;
  font-weight: bold;
  font-size: 24px;
  color: #178EA8;
}

.cartShop .container .cartProduct-Bill .btn-Total {
  width: 350px;
  margin-top: 17px;
  padding: 9px 16px;
  border-radius: 5px;
  text-align: center;
  background-color: #59C8E0;
  color: #FFFFFF;
  border: 0;
}

.cartShop .container .cartProduct-Bill .btn-Total:hover {
  -webkit-box-shadow: 0px 0px 10px #59C8E0;
          box-shadow: 0px 0px 10px #59C8E0;
}

.Related-products .logopartner .itemse .logo-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Related-products .logopartner .itemse .logo-details img {
  width: 162px;
  height: 162px;
}

.Related-products .logopartner .itemse .logo-details .info .NameProduct {
  font-size: 18px;
  font-weight: bold;
  color: #172B4D;
}

.Related-products .logopartner .itemse .logo-details .info .price {
  color: #178EA8;
  font-weight: bold;
}

.Related-products .logopartner .itemse .logo-details .info .booking {
  padding: 9px 16px;
  background-color: #59C8E0;
  border-radius: 30px;
  border: 0;
  color: white;
}

.Related-products .logopartner .itemse .logo-details .info .booking i {
  margin-left: 10px;
}

.Related-products .logopartner .itemse .logo-details .info .booking:hover {
  background-color: #0099ff;
}

.Related-products .logopartner .itemse .logo-details .info .booking:hover .book {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-right: 20px;
}

input:focus {
  outline: none;
}

.Checkout_Page {
  max-width: 1440px;
  margin: 0 auto;
}

.Checkout_Page .container {
  max-width: 1170px;
  padding: 0 45px 0px;
}

.Checkout_Page .container .Block_Header {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Checkout_Page .container .Block_Header-FormBuy-Info {
  width: 658px;
  border: 1px solid #D3D7DE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-checkbox {
  padding: 24px 24px 0px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-checkbox label {
  margin-left: 7px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-checkbox #checkbox {
  width: 18px;
  height: 18px;
  background-color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-title {
  background-color: #F8F8F8;
  padding: 1px 30px;
  border-bottom: 1px solid #D3D7DE;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-title h2 {
  color: #172B4D;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-top: 15px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-contact {
  padding: 24px 24px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-contact label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-contact input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D3D7DE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 5px 12px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-social {
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-social label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-social input {
  background: #FFFFFF;
  width: 293px;
  border: 1px solid #D3D7DE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 4px 12px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-social #County {
  background: #FFFFFF;
  width: 283px;
  border: 1px solid #D3D7DE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 4px 12px;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-social .County {
  margin-left: 20px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-social #City {
  background: #FFFFFF;
  width: 293px;
  border: 1px solid #D3D7DE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 4px 12px;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-social .Email {
  margin-left: 20px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info .boder {
  margin: 24px 24px -1px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info .boder1 {
  margin: 0px 24px -1px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-Select {
  padding: 24px 24px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-Select label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-Select #Ward {
  background: #FFFFFF;
  width: 293px;
  border: 1px solid #D3D7DE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 4px 12px;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Date {
  padding: 24px 24px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Date label {
  display: block;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Date .inputdate {
  width: 293px;
  margin-top: 2px;
  border: 1px solid #D3D7DE;
  border-radius: 20px;
  padding: 8px 12px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Date .inputdate input {
  border-radius: 20px;
  padding-left: 10px;
  width: 273px;
  border: 0;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Date .inputdate input:focus {
  outline: none;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time-go {
  padding: 24px 24px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time-go label {
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time-go .inputtime {
  margin-top: 2px;
  padding: 6px 8px;
  border: 1px solid #D3D7DE;
  border-radius: 20px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time-go .inputtime input {
  border-radius: 20px;
  border: 0;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time-go .inputtime input:focus {
  outline: none;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time-back {
  padding: 24px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time-back label {
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time-back .inputtime_back {
  margin-top: 2px;
  padding: 6px 8px;
  border: 1px solid #D3D7DE;
  border-radius: 20px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time-back .inputtime_back input {
  border-radius: 20px;
  border: 0;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-DateTime .Time-back .inputtime_back input:focus {
  outline: none;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-TxtArea {
  padding: 0 24px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-TxtArea label {
  display: block;
  color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-TxtArea textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #D3D7DE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 10px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info .checkboxadd1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 32px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info .checkboxadd1 label {
  margin-left: 7px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info .checkboxadd1 #checkbox1 {
  width: 18px;
  margin-left: 100px;
  height: 18px;
  background-color: #6B778C;
}

.Checkout_Page .container .Block_Header-FormBuy-Info .Radiobtn {
  padding: 24px 24px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info .Radiobtn .Pay {
  margin-bottom: 10px;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-Bank {
  background-color: #F8F8F8;
  margin: 0px 24px 24px;
  border-radius: 4px;
  padding: 24px 24px;
  display: none;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-Bank .desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #637381;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-Bank .descc {
  color: #172B4D;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-Bank-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-Bank-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #172B4D;
}

.Checkout_Page .container .Block_Header-FormBuy-Info-Bank-content .txt {
  font-style: normal;
  font-weight: bold;
  width: 357px;
  font-size: 16px;
  line-height: 24px;
  color: #172B4D;
}

.Checkout_Page .container .Block_Header-FormBill {
  width: 438px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 32px;
  background-color: #F8F8F8;
  border-radius: 4px;
  padding: 32px 24px;
}

.Checkout_Page .container .Block_Header-FormBill .Title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #172B4D;
}

.Checkout_Page .container .Block_Header-FormBill-SP .NameProduct {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #172B4D;
}

.Checkout_Page .container .Block_Header-FormBill-SP .PriceProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Checkout_Page .container .Block_Header-FormBill-SP .PriceProduct-total {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #172B4D;
}

.Checkout_Page .container .Block_Header-FormBill-SP .PriceProduct-Quantity {
  margin-left: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.Checkout_Page .container .Block_Header-FormBill-TotalPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Checkout_Page .container .Block_Header-FormBill-TotalPrice-text {
  color: #172B4D;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.Checkout_Page .container .Block_Header-FormBill-TotalPrice-totalprice {
  margin-left: auto;
  color: #172B4D;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

.Checkout_Page .container .Block_Header-FormBill-TotalPrice .price {
  color: #339BB2;
}

.Checkout_Page .container .Block_Header-FormBill-TotalPrice .last {
  text-transform: uppercase;
}

.Checkout_Page .container .Block_Header-FormBill-TotalPrice .lastprice {
  color: #339BB2;
  font-size: 24px;
}

.Checkout_Page .container .Block_Header-FormBill .btn_book {
  margin-top: 15px;
  width: 400px;
  padding: 9px 16px;
  background-color: #59C8E0;
  border: none;
  color: #FFFFFF;
  border-radius: 20px;
}

.Block_Section {
  max-width: 1440px;
  margin: 0 auto;
}

.Block_Section .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.Block_Section .container .Section img {
  margin: 50px auto 50px;
}

.Block_Section .container .Block_Bill {
  width: 568px;
  height: 447px;
  border-radius: 4px;
  margin: 0 auto;
  background-color: #F8F8F8;
}

.Block_Section .container .Block_Bill-Title {
  font-size: 24px;
  padding-top: 35px;
  color: #172B4D;
  text-align: center;
  font-weight: bold;
}

.Block_Section .container .Block_Bill .boder {
  margin: 24px 32px 0px;
}

.Block_Section .container .Block_Bill-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 32px;
}

.Block_Section .container .Block_Bill-content p {
  font-style: normal;
  font-weight: normal;
  padding-top: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #172B4D;
}

.Block_Section .container .Block_Bill-content .txt {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #172B4D;
  margin-left: auto;
}

.Block_Section .container .Block_Bill-content .Pricetotal {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #178EA8;
}

.Block_Section .container .Block_Bill-desc {
  text-align: center;
}

.Block_Section .container .Block_Bill-desc p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #172B4D;
}

.Block_Section .container .Block_Bill-desc p span {
  font-weight: bold;
}

.Block_Section .container .Block_Navigation {
  text-align: center;
  margin: 35px 0px;
}

.Block_Section .container .Block_Navigation-btn {
  padding: 9px 12px;
  border: 1px solid #D3D7DE;
  border-radius: 30px;
  color: #6B778C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
}

.Block_Section .container .Block_Navigation .btnBuy {
  background-color: #59C8E0;
  color: #FFFFFF;
  margin-left: 20px;
}

.Block_Section .container .Block_Navigation .btnBuy:hover {
  -webkit-box-shadow: 0px 0px 10px #59C8E0;
          box-shadow: 0px 0px 10px #59C8E0;
}
/*# sourceMappingURL=style.css.map */