@media only screen and (min-width: 1824px) {
  /* Styles */
  .slidePage #caption {
    left: 400px;
  }
}

.checkbtn {
  font-size: 20px;
  color: #0099ff;
  float: left;
  line-height: 80px;
  display: none;
  margin-right: 40px;
  cursor: pointer;
}

#check {
  display: none;
}

@media only screen and (min-width: 375px) and (max-width: 736px) {
  .intro {
    z-index: 20;
  }
  .intro .logo-header {
    width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .wrapper .container .header {
    display: block;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .wrapper .container .header .header-social {
    display: none;
  }
  .wrapper .container .header .header-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerLocal .container .Local {
    display: block;
  }
  .headerLocal .container .Local-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 5px;
    padding-bottom: 25px;
    width: 100%;
  }
  .headerLocal .container .Local-search-input {
    width: 300px;
  }
  .headerLocal .container .Local-search-input-text {
    width: 200px;
  }
  .headerLocal .container .Local-search .cartboder {
    margin-left: 10px;
  }
  .Navbar ul li a {
    font-size: 16px;
  }
  .Navbar .checkbtn {
    display: inline-block;
    position: fixed;
    z-index: 10;
    left: -23px;
    padding: 0px 2rem;
    top: 143px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .Navbar li:first-child {
    margin-left: 47px;
  }
  .Navbar li {
    padding-bottom: 30px;
    padding-right: 70px;
  }
  .Navbar ul {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 4;
    height: 100%;
    background-color: #ffffff;
    padding-top: 1rem;
    font-size: 20px;
    top: 0px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .Navbar .Navbar ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  .Navbar .Navbar ul li a {
    font-size: 20px;
  }
  .Navbar #check:checked ~ ul {
    left: 0px;
    display: block;
    line-height: 30px;
  }
  #title {
    font-size: 35px;
  }
  #navfooter {
    height: 100%;
  }
  #container {
    width: 100%;
  }
  #btn {
    font-size: 13px;
    padding: 2px 2px !important;
  }
  #fottercontainer {
    display: block;
  }
  .slick-next {
    display: block !important;
    margin-right: 15px !important;
  }
  .slick-prev {
    display: block !important;
    margin-left: 15px !important;
  }
  .next {
    height: 400px !important;
  }
  .prev {
    height: 400px !important;
  }
  .Block_Category .container {
    display: block;
  }
  .Block_Category .container .vertical_Menu {
    float: left;
    overflow: hidden;
    width: 95%;
  }
  .Block_Category .container .vertical_Menu-title {
    margin-left: 85px;
  }
  .Block_Category .container .vertical_Menu #Dropdown {
    display: none;
    border-radius: 7px;
    position: absolute;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 347;
    background-color: #ffffff;
    min-width: 300px;
    padding: 5px 15px;
  }
  .Block_Category .container .vertical_Menu .shows {
    display: block !important;
  }
  .Block_Category .container .vertical_Menu #Dropdowns {
    display: none;
    border-radius: 7px;
    position: absolute;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 345;
    background-color: #ffffff;
    min-width: 300px;
    padding: 5px 15px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .Block_Category .container .vertical_Menu .shows1 {
    display: block !important;
  }
  .Block_Category .container .card_Product-banner {
    padding-top: 300px;
  }
  .Block_Category .container .card_Product-Filter_Products {
    display: block;
  }
  .Block_Category .container .card_Product-Filter_Products #result {
    font-size: 13px;
    margin: 0 35px;
    margin-bottom: 10px;
  }
  .Block_Category .container .card_Product-Filter_Products-dropdown #fill {
    font-size: 12px;
    margin: 0 auto;
  }
  .Block_Category .container .card_Product-Filter_Products-dropdown #myDropdown a {
    font-size: 13px;
  }
  .Block_Category .container .menuProduct .row .col-sm img {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .Product-Details {
    overflow: hidden;
  }
  .Product-Details .container {
    display: block;
  }
  .Product-Details .container .slideProduct-Image-Product {
    margin-left: 0px;
  }
  .Product-Details .container .contentProduct {
    margin-left: -100px;
  }
  .Product-Details .container .contentProduct .boder-Price {
    width: auto;
  }
  .Product-Details .container .contentProduct .blockbuttoncart {
    text-align: center;
  }
  .Product-Details .container .contentProduct .blockbuttoncart button {
    margin-bottom: 20px;
  }
  .Product-Details .container .contentProduct .blockbuttoncart .btnBook {
    margin-right: 25px;
  }
  .Product-Details #rating-desc {
    font-size: 13px;
  }
  .Product-Details #rating-start {
    display: -webkit-box;
  }
  .Related-products {
    width: 100%;
    height: 100%;
  }
  .Related-products .Title #h1-title {
    font-size: 35px;
  }
}
/*# sourceMappingURL=reponsive.css.map */