.checkbtn {
  font-size: 30px;
  color: #0099ff;
  float: left;
  line-height: 80px;
  display: none;
  margin-right: 40px;
  cursor: pointer;
}

#check {
  display: none;
}

@media only screen and (min-width: 375px) and (max-width: 736px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo {
    position: fixed;
    z-index: 50;
    padding-left: 1.5rem;
    left: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header .header ul li a {
    font-size: 16px;
  }
  .header .checkbtn {
    display: inline-block;
    position: fixed;
    z-index: 99;
    left: 0;
    padding: 0px 2rem;
    margin-top: 100px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header li:first-child {
    margin-left: 47px;
  }
  .header li {
    padding-bottom: 50px;
  }
  .header ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding-top: 7rem;
    font-size: 20px;
    top: 0px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header .header ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  .header .header ul li a {
    font-size: 20px;
  }
  .header #check:checked ~ ul {
    left: -161px;
    display: block;
    line-height: 30px;
  }
  #banner {
    display: block;
  }
  #banner #bannercontent {
    margin: 30px auto;
    text-align: center;
  }
  #banner #bannercontent #contenttag {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #banner #bannercontent #contentheading {
    font-size: 25px;
    width: 250px;
    line-height: 60px;
  }
  #banner #bannercontent #des {
    font-size: 14px;
    width: 300px;
  }
  #banner #bannercontent #contentbtn {
    margin-left: 20px;
  }
  #banner #bannercontent #contentinfo {
    width: 100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #banner #bannercontent #contentinfo #number {
    font-size: 18px;
  }
  #banner #bannercontent #contentinfo #customer {
    font-size: 14px;
  }
  #banner #img2 {
    display: none;
  }
  #banner #img3, #banner #img7, #banner #img6, #banner #img5, #banner #img4 {
    display: none;
  }
  #banner #img1 {
    max-width: 300px;
    margin: 0 auto;
    padding-right: 70px;
  }
  #banner #svg2 {
    display: none;
  }
  #BLock {
    display: block;
  }
  #BLock #card {
    margin: 45px auto;
    width: 350px;
  }
  #BLock #card h2 {
    font-size: 20px;
  }
  #Feedback {
    width: 100%;
  }
  #Feedback #FeedBackcontainer {
    display: block;
    height: 1100px;
  }
  #Feedback #FeedBackcontainer h1 {
    font-size: 30px;
    width: 350px;
  }
  #Feedback #FeedBackcontainer p {
    font-size: 14px;
    width: 320px;
  }
  #Feedback #FeedBackcontainer #Comment {
    width: 210px;
    font-size: 14px;
  }
  #caption #captioncontainer {
    display: block;
  }
  #caption #captioncontainer h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #caption #captioncontainer p {
    font-size: 14px;
    width: 350px;
  }
  .subcribe #heading {
    font-size: 25px;
    line-height: 48px;
  }
  .subcribe h4 {
    font-size: 18px;
  }
  .subcribe p {
    font-size: 13px;
  }
  .subcribe #input {
    width: 350px;
  }
  .subcribe #inputemail {
    width: 350px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
  }
  .subcribe #btnsub {
    margin-top: 40px;
  }
  #footer {
    display: block;
  }
  #footer #des {
    margin-bottom: 0px;
  }
  #footer #des1 {
    margin-bottom: 30px;
  }
  #blockbox h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  #blockbox h1 {
    font-size: 30px;
  }
  #blockbox h1 span {
    font-size: 25px;
  }
  #food {
    max-width: 320px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .logo {
    position: fixed;
    z-index: 50;
    padding-left: 1.5rem;
    left: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header .header ul li a {
    font-size: 16px;
  }
  .header .checkbtn {
    display: inline-block;
    position: fixed;
    z-index: 99;
    left: 0;
    padding: 0px 2rem;
    margin-top: 100px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header li:first-child {
    margin-left: 47px;
  }
  .header li {
    padding-bottom: 50px;
  }
  .header ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding-top: 10rem;
    font-size: 20px;
    top: 0px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .header .header ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }
  .header .header ul li a {
    font-size: 20px;
  }
  .header #check:checked ~ ul {
    left: -161px;
    display: block;
    line-height: 30px;
  }
  #banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #banner #bannercontent {
    margin: 30px auto;
  }
  #banner #bannercontent #contenttag {
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  #banner #bannercontent #contentheading {
    font-size: 30px;
    width: 300px;
    line-height: 60px;
  }
  #banner #bannercontent #des {
    font-size: 14px;
    width: 300px;
  }
  #banner #bannercontent #contentbtn {
    left: 0;
  }
  #banner #bannercontent #contentinfo {
    width: 400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 90px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #banner #bannercontent #contentinfo #number {
    font-size: 28px;
  }
  #banner #bannercontent #contentinfo #customer {
    font-size: 24px;
  }
  #banner #svg1 {
    max-width: 100px;
  }
  #banner #img2 {
    display: none;
  }
  #banner #img3, #banner #img7, #banner #img6, #banner #img5, #banner #img4 {
    display: none;
  }
  #banner #img1 {
    max-width: 370px;
    margin-left: 0px;
    padding-right: 70px;
  }
  #banner #svg2 {
    display: none;
  }
  #Feedback #FeedBackcontainer {
    display: block;
    height: 1100px;
  }
  #Feedback #FeedBackcontainer h1 {
    font-size: 30px;
    width: 350px;
  }
  #Feedback #FeedBackcontainer p {
    font-size: 14px;
    width: 320px;
  }
  #Feedback #FeedBackcontainer #Comment {
    width: 210px;
    font-size: 14px;
  }
  #BLock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #BLock #card {
    margin: 45px auto;
    width: 250px;
  }
  #BLock #card h2 {
    font-size: 20px;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #footer #des {
    margin-bottom: 0px;
  }
  #footer #des1 {
    margin-bottom: 30px;
  }
  #blockbox h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  #blockbox h1 {
    font-size: 30px;
  }
  #blockbox h1 span {
    font-size: 25px;
  }
  #food {
    max-width: 320px;
  }
}
/*# sourceMappingURL=reponsive.css.map */