.checkbtn{
    font-size: 30px;
    color: #0099ff;
    float: left;
    line-height: 80px;
    display: none;
    margin-right: 40px;
    cursor: pointer;
  }
  #check{
    display: none;
  }

  @media only screen and (min-width : 375px) 
and (max-width : 736px){
    .header{
        display: flex;
        align-items: center;
    // ul{
    //   padding-left: 0;
    // }
    .logo{
        position: fixed;
        z-index: 50;
        padding-left: 1.5rem;
        left: 0;
        transition: all .5s;
      }
      .header ul li a{
        font-size: 16px;
      }
      .checkbtn{
          display: inline-block;
          position: fixed;
          z-index: 99;
          left: 0;
          padding: 0px 2rem;
          margin-top: 100px;
          transition: all .5s;
        }
        li:first-child{
          margin-left: 47px;
        }
        li{
          padding-bottom: 50px;
        }
        ul{
          position: fixed;
          width: 100%;
          height: 100%;
          background-color: #ffffff;
          padding-top: 7rem;
          font-size: 20px;
          top: 0px;
          left: -100%;
          text-align: center;
          transition: all .5s;
        }
        .header ul li{
          display: block;
          margin: 40px 0;
          line-height: 30px;
        }
        .header ul li a{
          font-size: 20px;
        }
        #check:checked ~ ul{
          left: -161px;
          display: block;
          line-height: 30px;
        }
    }
    //heaader
    #banner{
      display: block;
      #bannercontent{
       
        margin: 30px auto;
        text-align: center;
      
      #contenttag{
        font-size: 14px;
        padding: 10px 20px;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      #contentheading{
        font-size: 25px;
         width: 250px;
        line-height: 60px;
      }
      #des{
        font-size: 14px;
        width: 300px;
        
      }
      #contentbtn{
        margin-left: 20px;
      }
      #contentinfo{
        width: 100px;
        margin: 0 auto;
        display: flex;  
        flex-wrap: wrap;
        justify-content: flex-start;
        #number{
          font-size: 18px;
        }
        #customer{
          font-size: 14px;
        }
      }
    }
    #img2{
      display: none;
    }
    #img3,#img7,#img6,#img5,#img4{
      display: none;
    }
    #img1{
      max-width: 300px;
      margin: 0 auto;
      padding-right: 70px;
    }
    #svg2{
      display: none;
    }
   
  }
 
  #BLock{
    display: block;
    #card{
      margin: 45px auto;
      width: 350px;
      h2{
          font-size: 20px;
      }
    }
  }

  #Feedback{
    width: 100%;
    #FeedBackcontainer{
      
      display: block;
      height: 1100px;
      h1{
        font-size: 30px;
        width: 350px;
      }
      p{
        font-size: 14px;
        width: 320px;
      }
      #Comment{
        width: 210px;
        font-size: 14px;
      }
    }
  }

  #caption{
    #captioncontainer{
      display: block;
      h1{
        font-size: 25px;
        margin-bottom: 10px;
      }
      p{
        font-size: 14px;
        width: 350px;
      }
    }
  }

  .subcribe{
    #heading{
      font-size: 25px;
      line-height: 48px;
    }
    h4{
      font-size: 18px;
    }
    p{
      font-size: 13px;
    }
    #input{
      width: 350px;
    }
    #inputemail{
      width: 350px;
      text-align: center;
      padding-top: 10px;
      padding-left: 10px;
    }
    #btnsub{
      margin-top: 40px;
    }
  }
  #footer{
    display: block;
    
    #des{
      margin-bottom: 0px;
    }
    #des1{
      margin-bottom: 30px;
    }
  }
  #blockbox{
    h4{
      font-size: 18px;
      margin-bottom: 10px;
    }
    h1{
      font-size: 30px;
      span{
        font-size: 25px;
      }
    }
  }
  #food{
    max-width: 320px;
  }
}


@media only screen and (min-width : 767px) 
and (max-width : 1024px){
  .header{
    display: flex;
    align-items: center;
// ul{
//   padding-left: 0;
// }
.logo{
    position: fixed;
    z-index: 50;
    padding-left: 1.5rem;
    left: 0;
    transition: all .5s;
  }
  .header ul li a{
    font-size: 16px;
  }
  .checkbtn{
      display: inline-block;
      position: fixed;
      z-index: 99;
      left: 0;
      padding: 0px 2rem;
      margin-top: 100px;
      transition: all .5s;
    }
    li:first-child{
      margin-left: 47px;
    }
    li{
      padding-bottom: 50px;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      padding-top: 10rem;
      font-size: 20px;
      top: 0px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .header ul li{
      display: block;
      margin: 40px 0;
      line-height: 30px;
    }
    .header ul li a{
      font-size: 20px;
    }
    #check:checked ~ ul{
      left: -161px;
      display: block;
      line-height: 30px;
    }
}
#banner{
  display: flex;
  #bannercontent{
   
    margin: 30px auto;
  
  #contenttag{
    font-size: 14px;
    padding: 10px 20px;
    
    margin-bottom: 10px;
  }
  #contentheading{
    font-size: 30px;
    width: 300px;
    line-height: 60px;
  }
  #des{
    font-size: 14px;
    width: 300px;
    
  }
  #contentbtn{
    left: 0;
  }
  #contentinfo{
    width: 400px;
    margin: 0 auto;
    display: flex;
    padding-left: 90px;
    justify-content: flex-start;
    #number{
      font-size: 28px;
    }
    #customer{
      font-size: 24px;
    }
  }
}
#svg1{
  max-width: 100px;
}
#img2{
  display: none;
}
#img3,#img7,#img6,#img5,#img4{
  display: none;
}
#img1{
  max-width: 370px;
  
  margin-left: 0px;
  padding-right: 70px;
}
#svg2{
  display: none;
}


}
#Feedback{
  #FeedBackcontainer{
    display: block;
    height: 1100px;
    h1{
      font-size: 30px;
      width: 350px;
    }
    p{
      font-size: 14px;
      width: 320px;
    }
    #Comment{
      width: 210px;
      font-size: 14px;
    }
  }
}
#BLock{
  display: flex;
  #card{
    margin: 45px auto;
    width: 250px;
    h2{
        font-size: 20px;
    }
  }
}
#footer{
  display: flex;
  flex-wrap: wrap;
  
  #des{
    margin-bottom: 0px;
  }
  #des1{
    margin-bottom: 30px;
  }
}
#blockbox{
  h4{
    font-size: 18px;
    margin-bottom: 10px;
  }
  h1{
    font-size: 30px;
    span{
      font-size: 25px;
    }
  }
}
#food{
  max-width: 320px;
}

}