// Set Default 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

img{
    display: block;
    max-width: 100%;
}
button{
    cursor: pointer;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
}

body{
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.5;
}
body.dark{
    background-color: #2B2B2B;
    color: white;
    h1.dark{
        color: #2B2B2B;
    }
}

// Variable :
    $colorspan : #FB9333;
    $colorbtnback : #FFD7A0;


// Style : 

    .wrapper{
        max-width: 1440px;
        margin: 0 auto;
        .container{
            max-width: 1170px;
            padding: 0 15px;
            margin: 0 auto;
            .header{
                display: flex;
                padding: 49px;
                .logo{
                    display: block;
                    margin-right: 241px;
                    opacity: 0;
                    animation: slideRight 0.5s linear forwards;
                    animation-delay: 0.3s;
                    @keyframes slideRight{
                        0%{
                            transform: translateX(0px);
                            opacity: 0;
                        }
                        100%{
                            transform: translateX(25px);
                            opacity: 1;
                        }
                    }
                }
                &-menu{
                    display: flex;
                    list-style: none;
                    align-items: center;
                    &-item:not(:first-child){
                      margin-left: 56px;   
                    }
                    &-item{
                        .link{
                            color: #575757;
                            font-weight: 500;
                            opacity: 0;
                            animation: slideTop 0.5s linear forwards;
                            animation-delay: calc(0.3s * var(--i));
                        }
                        @keyframes slideTop{
                            0%{
                                transform: translateY(100px);
                                opacity: 0;
                            }
                            100%{
                                transform: translateY(0px);
                                opacity: 1;
                            }
                        }
                      
                        .link:hover{
                            color: #FB9333;
                            transition: all .5s;
                        }
                        .active{
                            color: #FB9333;
                        }
                       
                    }
                }
                &-auth{
                    margin-left: auto;
                    .btnSign{
                        background-color: $colorspan;
                        color: white;
                        align-items: center;
                        padding: 16px 45px;
                        border-radius: 100px;
                        border: none;
                        font-weight: 600;
                        opacity: 0;
                        animation: slideTop 0.5s linear forwards;
                        animation-delay: 1s;
                    }
                }
            }
            .banner{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 0 50px;
                margin: 0 auto;
                max-width: 1170px;
                &-content{
                    
                    &-heading{
                        font-size: 70px;
                        width: 590px;
                        line-height: 93.6px;
                        transition: 0.5s all;
                        opacity: 0;
                        animation: slideTop 0.5s linear forwards;
                        animation-delay: 1.5s;
                        span{
                            color: #FB9333;
                        }
                    }
                    &-des{
                        color: #828282;
                        font-weight: 500;
                        width: 470px;
                        line-height: 32px;
                        opacity: 0;
                        animation: slideTop 0.5s linear forwards;
                        animation-delay: 1.8s;
                    }
                    &-tag{
                        padding: 16px 16px;
                        font-size: 14px;
                        border-radius: 100px;
                        background-color: #FFF0DC;
                        color: $colorspan;
                        width: 200px;
                        text-align: center;
                        transition: 0.5s all;
                        opacity: 0;
                        animation: slideTop 0.5s linear forwards;
                        animation-delay: 1.2s;
                    }
                    &-btn{
                        padding: 15px 25px;
                        border-radius: 100px;
                        border: none;
                        background-color: $colorspan;
                        font-weight: 500;
                        transition: all 1s;
                        margin: 14px 0px;
                        font-size: 18px;
                        color: white;
                        opacity: 0;
                        animation: slideTop 0.5s linear forwards;
                        animation-delay: 2s;
                    }
                    &-btn:hover{
                        transform: scale(1.2);
                    }

                    &-info{
                       display: flex;
                       
                       &-item{
                           padding: 10px 20px;
                           margin: 40px 0;
                           .number{
                               font-size: 24px;
                               line-height: 38.4px;
                               font-style: normal;
                               font-weight: 600;
                               color: #575757;
                           }
                           .items{
                               font-size: 16px;
                               font-weight: 500;
                               line-height: 160%;
                           }
                       }
                    }
                }
                &-img{
                    .img{
                        max-width: 420px;
                        margin-left: 100px;
                        
                        transition: 0.5s all;
                        animation: transY 10s linear infinite;
                        
                    }
                    @keyframes transY {
                        0%,100%{
                            transform: translateY(0px);
                        }
                        50%{
                            transform: translateY(15px);
                        }
                    }
                    .elip{
                        position: absolute;
                        top: -320px;
                        width: 2700px;
                        left: 300px;
                        z-index: -1;
                    }
                    .vector38{
                        position: absolute;
                        top: -194px;
                        width: 500px;
                        left: 900px;
                        z-index: -1;
                    }
                    .vector33{
                        position: absolute;
                        top: 174px;
                        width: 70px;
                        left: 1150px;
                        z-index: 0;
                    }
                    .vector{
                        position: absolute;
                        top: 274px;
                        width: 97px;
                        left: 1100px;
                        z-index: -1;
                    }
                    .vector1{
                        position: absolute;
                        top: 214px;
                        width: 97px;
                        left: 820px;
                        z-index: -1;
                    }
                    .vector2{
                        margin-left: 350px;
                        margin-top: -200px;
                    }
                    .vector3{
                        margin-left: 5px;
                        margin-top: -100px;
                    }
                }
            }

            //Header end

            .Caption{
                // max-width: 1440px;
                // margin: 0 auto;
                .container{
                    display: flex;
                    justify-content: center;
                    // max-width: 1170px;
                    // padding: 0 15px;
                    margin: 10px auto;
                    .heading{
                        width: 586px;
                        color: #575757;
                        .span1{
                            color: $colorspan;
                            display: block;
                        }
                        .span2{
                            color: #585858;
                        }
                    }
                    .description{
                        width: 450px;
                        font-weight: 500;
                        line-height: 180%;
                        letter-spacing: -0.02em;
                        color: #828282;
                    }
                }
            }
            
            .Block{
                display: flex;
                .card{
                    margin: 50px;
                    width: 450px;
                    height: 453px;
                    padding-left:20px;
                    transition: all 1s ease-in-out;
                    i{
                        margin-left: 20px;
                    }
                    .imgblock{
                        background-color: #FFD7A0;
                        padding: 12px 14px;
                        margin-top: 10px;
                        border-radius: 20px;
                    }
                    .title{
                        margin-top: 80px;
                        line-height: 180%;
                        font-size: 22px;
                        width: 257px;
                        
                    }
                    .desc{
                        line-height: 180%;
                        color: #575757;
                        
                    }
                    .btnmore{
                        border: none;
                        background: white;
                        margin-top: 34px;
                        font-weight: normal;
                        font-size: 16px;
                        padding: 10px 24px;
                        border-radius: 100px;
                        transition: all .5s ease-in-out;
                    }
                    
                    // .active{
                    //     background-color: #FB9333;
                    //     color: white;
                    // }
                    .btnmore:hover{
                        background-color: #FB9333;
                        color: white;
                    }
                }
                // .active{
                //     box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
                //     border-radius: 50px;
                // }
                .card:hover{
                    box-shadow: 0px 50px 80px -20px rgba(151, 109, 0, 0.2);
                    border-radius: 50px;
                    background-color: #ffffff;
                    transform: scale(1.1);
                }
            }

            // .FeedBack{
            //     max-width: 1440px;
            //     z-index: 2;
            //     background: linear-gradient(180deg, #FFF8ED 0%, rgba(255, 248, 237, 0.5) 100%);
            //     .container{
            //         max-width: 1170px;
            //         height: 670px;
            //         padding: 0 25px;
            //         margin: 0 auto;
            //         display: flex;
            //         justify-content: flex-start;
            //         .content{
            //             padding: 20px 20px;
            //             &-title{
            //                 font-size: 48px;
            //                 font-weight: 600;
            //                 line-height: 64px;
            //                 width: 415px;
            //                 span{
            //                     color: #FB9333 !important;
            //                 }
            //             }
            //             .next{
            //                 padding: 20px 20px;
            //                 color: white;
            //                 background-color: #FFD7A0;
            //                 border-radius: 12px;
            //                 border: none;
            //                 margin-top: 24px;
            //             }
            //             .prev{
            //                 padding: 20px 20px;
            //                 color: white;
            //                 background-color: #FB9333;
            //                 border-radius: 12px;
            //                 border: none;
            //                 margin-left: 14px;
            //             }
            //             &-desc{
            //                 font-size: 16px;
            //                 width: 405px;
            //                 line-height: 150%;
            //                 font-weight: normal;
            //                 color: #999999;
            //                 margin-top: 30px;
            //             }
            //             &-slider{
            //                 font-size: 48px;
            //                 color: black;
            //                 font-weight: bold;
            //                 margin-top: 50px;
            //                 #numberroll{
            //                     font-size: 48px;
            //                     color: black;
            //                     font-weight: bold;
            //                     font-style: normal;
            //                     margin-top: 50px;
            //                     font-family: 'Raleway';
            //                 }
            //                 span{
            //                     font-size: 16px;
            //                     font-family: 'Raleway';
            //                     color: #cccc;
            //                     font-weight: bold;
            //                 }
            //             }
            //         }
            //         .slider-card{
            //             overflow: hidden;
            //             height: 670px;
            //             .item{
            //                 width: 270px;
            //                 height: 500px;
            //                 padding-right: 50px;
            //                 .items{
            //                     background-color: #FFFFFF;
            //                     height: 500px;
            //                     border-radius: 12px;
            //                     position: relative;
            //                     .Avartar{
            //                         width: 90px;
            //                         margin-left: 24px;
            //                     }
            //                     .Name{
            //                         width: 400px;
            //                         font-size: 24px;
            //                         padding-top: 50px;
            //                         padding-left: 24px;
            //                         font-weight: 500;
            //                         color: #2B2B2B;
            //                     }
            //                     .Old{
            //                         padding-left: 24px;
            //                         padding-top: 8px;
            //                         padding-bottom: 19px;
            //                         color: #999999;
            //                         font-size: 14px;
            //                     }
            //                     .Comment{
            //                         padding-left: 24px;
            //                         color: #575757;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
            // .MenuYang{
            //     padding-top: 70px;
            //     text-align: center;
            //     .block-box{
            //         &-caption{
            //             color: #FB9333;
            //             font-size: 20px;
            //             font-weight: 500;
            //             line-height: 180%;
            //         }
            //         &-heading{
            //             color: #585858;
            //             font-size: 48px;
            //             span{
            //                 display: block;
            //                 color: #FB9333;
            //                 line-height: 140%;
            //             }
            //         }
            //     }
            // }
            // .owl-theme{
            //     margin-top: 50px;
            //     .item{
            //         img{
            //             max-width: 370px;
            //         }
            //         .title{
            //             color: white;
            //             position: absolute;
            //             top: 370px;
            //             font-weight: 400;
            //             left: 43px;
                        
            //         }
            //         .titles{
            //             color: white;
            //             position: absolute;
            //             top: 400px;
            //             left: 43px;
            //             font-size: 30px;
            //         }
            //     }
            // }
            // .subcribe{
            //      background-color: #FFF8ED;
            //      border-radius: 50px;
                 
            //     &-box{
            //         background: url('Media/Group\ 8441.svg');
            //         text-align: center;
            //         height: 500px;
            //         margin-top: 40px;
            //         padding-top: 48px;
            //         border-radius: 40px;
            //         &-heading{
            //             font-size: 48px;
            //             line-height: 68px;
            //             color: #585858;
            //             span{
            //                 display: block;
            //             }
            //         }
            //         &-des{
            //             font-size: 16px;
            //             color: #575757;
            //             line-height: 160%;
            //             opacity: 0.7;
            //             span{
            //                 display: block;
            //             }
            //         }
            
            //         &-input{
            //             width: 700px;
            //             // position: absolute;
            //             height: 60px;
            //             margin: 40px auto;
            //             background-color: white;
            //             border-radius: 50px;
            //             padding-top: 5px;
            //             &-text{
            //                     width: 550px;
            //                     height: 30px;
            //                     border-radius: 50px;
            //                     border: none;
            //                     font-size: 18px;
            //                     color: #575757;
            //                     padding-left: 30px;
            //             }
            //             &-text:focus{
            //                 outline: none;
            //             }
            //             &-btn{
            //                 padding: 17px 30px; 
            //                 border: none;
            //                 border-radius: 50px;
            //                 background-color: #FB9333;
            //                 color: white;
            //             }
            //         }
            //     }
            // }

        //     .footer{
        //         display: flex;
        //         margin-top: 100px;
        //         margin-bottom: 100px;
        //         align-items: flex-start;
        //         &-item:not(:first-child){
        //             margin-left: auto;
        //         }
        //         &-item{
        //             &-title{
        //                 font-size: 18px;
        //                 color: #FB9333;
        //                 margin-bottom: 20px;
        //             }
                    
        //             &-des{
        //                width: 220px;
        //                font-weight: 400;
        //                line-height: 160%;
        //                margin-bottom: 20px;
        //             }
                   
        //             &-des3{
        //                 width: 230px;
        //                 font-weight: 400;
        //                 line-height: 160%;
        //                 margin-bottom: 20px;
        //                  margin-right: 20px;
        //                 i{
        //                     margin-right: 10px;
        //                     color: #FB9333;
        //                 }
        //             }
        //             &-des1{
        //                 width: 220px;
        //                 font-weight: 400;
        //                 line-height: 160%;
        //                 margin-top: 65px;
                        
        //             }
        //             &-title{
        //                 i{
        //                     width: 60px;
        //                     color: #FB9333;
        //                     margin-bottom: 20px;
        //                 }
        //             }
        //         }
        //     }
        // }
        }
    }

    .FeedBack{
        width: 100%;
        z-index: 2;
        background: linear-gradient(180deg, #FFF8ED 0%, rgba(255, 248, 237, 0.5) 100%);
        .container{
            max-width: 1170px;
            height: 670px;
            padding: 0 25px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            .content{
                padding: 20px 20px;
                &-title{
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 64px;
                    width: 415px;
                    span{
                        color: #FB9333 !important;
                    }
                }
                .next{
                    padding: 20px 20px;
                    color: white;
                    background-color: #FB9333;
                    border-radius: 12px;
                    border: none;
                    margin-top: 24px;
                    margin-left: 24px;
                }
                .prev{
                    padding: 20px 20px;
                    color: white;
                    background-color: #FFD7A0;
                    border-radius: 12px;
                    border: none;
                }
                .prev:hover{
                    background-color: #FB9333;
                    transition: all .3s ease-in;
                }
                &-desc{
                    font-size: 16px;
                    width: 405px;
                    line-height: 150%;
                    font-weight: normal;
                    color: #999999;
                    margin-top: 30px;
                }
                &-slider{
                    font-size: 48px;
                    color: black;
                    font-weight: bold;
                    margin-top: 50px;
                    #numberroll{
                        font-size: 48px;
                        color: black;
                        font-weight: bold;
                        font-style: normal;
                        margin-top: 50px;
                        font-family: 'Raleway';
                    }
                    span{
                        font-size: 16px;
                        font-family: 'Raleway';
                        color: #cccc;
                        font-weight: bold;
                    }
                }
            }
            .slider-card{
                overflow: hidden;
                height: 670px;
                .item{
                    width: 270px;
                    height: 500px;
                    padding-right: 50px;
                    .items{
                        background-color: #FFFFFF;
                        height: 500px;
                        border-radius: 12px;
                        position: relative;
                        .Avartar{
                            width: 90px;
                            margin-left: 24px;
                        }
                        .Name{
                            width: 400px;
                            font-size: 24px;
                            padding-top: 50px;
                            padding-left: 24px;
                            font-weight: 500;
                            color: #2B2B2B;
                        }
                        .Old{
                            padding-left: 24px;
                            padding-top: 8px;
                            padding-bottom: 19px;
                            color: #999999;
                            font-size: 14px;
                        }
                        .Comment{
                            padding-left: 24px;
                            color: #575757;
                        }
                    }
                }
            }
        }
    }

    .Components{
        max-width: 1440px;
        margin: 0 auto;
        .container{
            max-width: 1170px;
            padding: 0 15px;
            margin: 0 auto;
            .MenuYang{
                padding-top: 70px;
                text-align: center;
                .block-box{
                    &-caption{
                        color: #FB9333;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 180%;
                    }
                    &-heading{
                        color: #585858;
                        font-size: 48px;
                        span{
                            display: block;
                            color: #FB9333;
                            line-height: 140%;
                        }
                    }
                }
            }
            .owl-theme{
                margin-top: 50px;
                .item{
                    img{
                        max-width: 370px;
                        border-radius: 50px;
                        transition: all 0.5s ease-in;
                    }
                   
                    .title{
                        color: white;
                        position: absolute;
                        top: 370px;
                        font-weight: 400;
                        left: 43px;
                        
                    }
                    .titles{
                        color: white;
                        position: absolute;
                        top: 400px;
                        left: 43px;
                        font-size: 30px;
                    }
                }
            }
            .subcribe{
                background-color: #FFF8ED;
                border-radius: 50px;
                
               &-box{
                   background: url('Media/Group\ 8441.svg');
                   text-align: center;
                   height: 500px;
                   margin-top: 40px;
                   padding-top: 48px;
                   border-radius: 40px;
                   &-heading{
                       font-size: 48px;
                       line-height: 68px;
                       color: #585858;
                       span{
                           display: block;
                       }
                   }
                   &-des{
                       font-size: 16px;
                       color: #575757;
                       line-height: 160%;
                       opacity: 0.7;
                       span{
                           display: block;
                       }
                   }
           
                   &-input{
                       width: 700px;
                       // position: absolute;
                       height: 60px;
                       margin: 40px auto;
                       background-color: white;
                       border-radius: 50px;
                       padding-top: 5px;
                       &-text{
                               width: 550px;
                               height: 30px;
                               border-radius: 50px;
                               border: none;
                               font-size: 18px;
                               color: #575757;
                               padding-left: 30px;
                       }
                       &-text:focus{
                           outline: none;
                       }
                       &-btn{
                           padding: 17px 30px; 
                           border: none;
                           border-radius: 50px;
                           background-color: #FB9333;
                           color: white;
                       }
                   }
               }
           }
           .footer{
                display: flex;
                margin-top: 100px;
                margin-bottom: 100px;
                align-items: flex-start;
                &-item:not(:first-child){
                    margin-left: auto;
                }
                &-item{
                    &-title{
                        font-size: 18px;
                        color: #FB9333;
                        margin-bottom: 20px;
                    }
                    
                    &-des{
                       width: 220px;
                       font-weight: 400;
                       line-height: 160%;
                       margin-bottom: 20px;
                    }
                   
                    &-des3{
                        width: 230px;
                        font-weight: 400;
                        line-height: 160%;
                        margin-bottom: 20px;
                         margin-right: 20px;
                        i{
                            margin-right: 10px;
                            color: #FB9333;
                        }
                    }
                    &-des1{
                        width: 220px;
                        font-weight: 400;
                        line-height: 160%;
                        margin-top: 65px;
                        
                    }
                    &-title{
                        i{
                            width: 60px;
                            color: #FB9333;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }   
    }
