$colorHeading1 : #178EA8;
$fontsizeHeading1 : 48px;
$lineheight1: 60px;
$fontstyle1: normal;
$fontweight1 : bold;

// Heading 2 :
 
$colorHeading2 : #178EA8;
$fontsizeHeading2 : 40px;
$lineheight2: 60px;
$fontstyle2 : normal;
$fontweight2 : bold;

// Heading 3 : 
$colorHeading3 : #172B4D;
$fontsizeHeading3 : 18px;
$lineheight3: 26px;
$fontstyle3 : normal;
$fontweight3 : bold;

// p - content : 

$color-content : #6B778C;
$fontsize-content : 16px;
$lineheight-content : 24px;
$fontstyle-content : normal;
$fontweight2 : normal;

// button : 
$colorbtn : #FFFFFF;
$widthbtn : 131px;
$boderbtn : 1px solid #FFFFFF;
$boder-radiusbtn: 30px;
$paddingbutton: 9px 16px ;
$fontsize : 14px;
$fontweightbtn : bold;
$lineheightbtn : 20px;