.checkbtn{
  font-size: 30px;
  color: #0099ff;
  float: right;
  line-height: 80px;
  display: none;
  margin-right: 40px;
  cursor: pointer;
}
#check{
  display: none;
}

@media only screen and (min-width : 375px) 
and (max-width : 736px){
    .header-navright{
      display: block;
    }
    .header{
      display: block;
      .menu{
        padding-right: 0;
      }
    }
      // menu bar
      .logo{
        
        position: fixed;
        z-index: 50;
        padding-left: 1.5rem;
        left: 0;
        transition: all .5s;
      }
      nav ul li a{
        font-size: 16px;
      }
      .checkbtn{
          display: block;
          position: fixed;
          z-index: 99;
          left: 0;
          padding: 0px 2rem;
          margin-top: 60px;
          transition: all .5s;
        }
        ul{
          position: fixed;
          width: 100%;
          height: 100%;
          background-color: #ffffff;
          padding-top: 1.5rem;
          top: 0px;
          left: -100%;
          text-align: center;
          transition: all .5s;
        }
        nav ul li{
          display: block;
          margin: 40px 0;
          line-height: 30px;
        }
        nav ul li a{
          font-size: 20px;
        }
        #check:checked ~ ul{
          left: 0;
          display: block;
          line-height: 30px;
        }
       // menu bar
        .container{
            .foodspin{
      
                .spinbackground{
                  left: 60px;
                  top: 47px;
                  width: 300px;
                  height: 300px;
                  .ciclegraph{
                    width: 300px;
                    height: 300px;
                    border-radius: 100rem;
                    position: relative;
                    border: 2px dashed #E87F1E;
                    top: 100.95px;
                    transition: all 1s ease-in-out;
                    .circle{
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      width: 100px;
                      height: 100px;
                      margin: calc(-180px / 2);
                      border-radius: 50%;
                    }
                    #product{
                      width: 80px;
                      height: 80px;
                      margin: 45px;
                      background-image: none !important;
                    }
                  }
                }
                #up{
                  left: 37px;
                  top: 400px;
                }
                #down{
                  left: 350px;
                  top: 400px;
                }
                .imgproduct{
                  left: 137px !important;
                  top: 300px !important;
                  width: 160px !important;
                  height: 160px !important;
                }
            }
            .content{
              margin: 0px 50px;
              top:  447px;
              text-align: center;
              #prices{
                font-size: 40px;
                
              }
              #title{
                font-size: 20px;
                line-height: 10px;
              }
              #titles{
                font-size: 20px;

              }
              #btn{
                padding: 10px 24px;
              }

               }
            
        }
}

@media only screen and (min-device-width: 375px){

}



@media only screen and (min-width : 767px) 
and (max-width : 1024px)
 {
   .container{
       display: block;
       .foodspin{
      
           .spinbackground{
            left: 94px;
            top: -117px;
            width: 577px;
            height: 577px;
           }

           #up{
            border: none;
            position: absolute;
            background-color: #E87F1E;
            border-radius: 100em;
            width: 40px;
            height: 40px;
            left: 120px;
            top: 530px;
            cursor: pointer;
            i{
                color: #ffff;
            }     
                        }
        
            #down{
                border: none;
                position: absolute;
                background-color: #E87F1E;
                border-radius: 100em;
                width: 40px;
                height: 40px;
                cursor: pointer;
                left: 600px;;
                top: 530px;
                i{
                    color: #ffff;
                }
                    }
                    .imgproduct{
                        position: absolute;
                        width: 250px;
                        height: 244.96px;
                        left: 255px !important ;
                        top: 375px !important;
                        transition: all 2s;
                        animation: leaves 1.5s ease-in-out infinite alternate;
                    }
                    @keyframes leaves {
                        0% {
                            transform: scale(1.0);
                            opacity: 0.7;
                            
                            -webkit-transform: scale(1.0);
                        }
                        50% {
                            opacity: 1;
                            transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                        }
                    }
                  
       }
     
       .content{
        margin: 0px 220px;
        top: 600px;
        text-align: center;
       }
     
   }
}




@media only screen  and (min-width : 1824px) {
  /* Styles */
  .header{
      display: flex;
      justify-content: space-around;
    .header-navleft{
      display: flex;
      justify-content: space-evenly;
      .menu{
       justify-content: center;
       align-items: center;
       padding-right: 600px;
      }
    }
    .header-navright{
      position: absolute;
      margin-left: 60rem;
      margin-top: 10px;
    }
  }

  .container{
    .content{
      margin: 0px 400px;
      top: 236px;
      position: absolute;
    }
    .foodspin{
      .spinbackground{
        left: 593px;
        top: -805px;
        .ciclegraph{
          top: 279.95px;
        }
      }
    }
    // .content{
    //   #price{
    //     font-size: 30px;
    //     line-height: 50px;
        
    //   }
    //   #title{
    //     font-size: 25px;
    //     line-height: 30px;
    //   }
    //   #titles{
    //     font-size: 25px;
    //     line-height: 50px;
    //   }
    //   #des{
    //     width: 270px;
    //   }
    //   #btn{
    //     padding: 5px 20px;
    //   }
    // }
    .active{
      .imgproduct{
        left: 1067px !important;
        top: 358px !important;
      }
    }
    #down{
      left: 1450px;
      top: 500px;
    }
    #up{
      left: 900px;
      top: 500px;
    }
  }


  }

