* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

body {
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  z-index: 10;
}

.header-navright p {
  background-color: #E87F1E;
  width: 20px;
  height: 20px;
  border-radius: 100rem;
  text-align: center;
  font-size: 15px;
  position: absolute;
  margin: -15px 10px;
  color: white;
  font-weight: bold;
  -webkit-animation: scalenumber 1s ease-in-out;
          animation: scalenumber 1s ease-in-out;
}

@-webkit-keyframes scalenumber {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
}

@keyframes scalenumber {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
}

.header-navleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-navleft .logo {
  width: 105px;
  height: 27px;
}

.header-navleft .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 300px;
}

.header-navleft .menu-item {
  list-style: none;
  padding: 10px 20px;
}

.header-navleft .menu-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: black;
  font-weight: 500;
}

.container {
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .foodspin .spinbackground {
  position: relative;
  overflow: hidden;
  width: 1177px;
  height: 1177px;
  left: 253px;
  top: -745px;
  border-radius: 100rem;
  background: #FFEEDE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.container .foodspin .spinbackground .ciclegraph {
  border-radius: 100rem;
  position: relative;
  width: 460px;
  height: 460px;
  border: 2px dashed #E87F1E;
  top: 100.95px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.container .foodspin .spinbackground .ciclegraph .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: calc(-120px / 2);
  border-radius: 50%;
}

.container .foodspin .active #imgactive {
  position: absolute;
  width: 250px;
  height: 244.96px;
  left: 727px;
  top: 368px;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-animation: leaves 1.5s ease-in-out infinite alternate;
          animation: leaves 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes leaves {
  0% {
    transform: scale(1);
    opacity: 0.7;
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}

@keyframes leaves {
  0% {
    transform: scale(1);
    opacity: 0.7;
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}

.container .foodspin .btnscroll {
  border: none;
  position: absolute;
  background-color: #E87F1E;
  border-radius: 100em;
  width: 40px;
  height: 40px;
  left: 518px;
  top: 487px;
  cursor: pointer;
}

.container .foodspin .btnscroll i {
  color: #ffff;
}

.container .foodspin .btnscrollright {
  border: none;
  position: absolute;
  background-color: #E87F1E;
  border-radius: 100em;
  width: 40px;
  height: 40px;
  cursor: pointer;
  left: 1140px;
  top: 487px;
}

.container .foodspin .btnscrollright i {
  color: #ffff;
}

.container .content {
  margin: 0px 90px;
  top: 236px;
  position: absolute;
}

.container .content .content-price {
  font-size: 44px;
  color: #FF922C;
  line-height: 66px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: prices 1s ease-in-out infinite alternate;
          animation: prices 1s ease-in-out infinite alternate;
}

@-webkit-keyframes prices {
  0% {
    font-weight: 500;
  }
  50% {
    font-weight: bold;
  }
}

@keyframes prices {
  0% {
    font-weight: 500;
  }
  50% {
    font-weight: bold;
  }
}

.container .content .content-title {
  font-size: 36px;
  line-height: 50px;
}

.container .content .content-titles {
  font-size: 36px;
  line-height: 50px;
}

.container .content .content-des {
  font-size: 13px;
  width: 340px;
  line-height: 19px;
}

.container .content .btn {
  padding: 14px 41px;
  margin-top: 20px;
  color: white;
  -webkit-box-shadow: 0px 20px 40px #F4E2D1;
          box-shadow: 0px 20px 40px #F4E2D1;
  background: #FF922C;
  border: none;
  border-radius: 69px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: prices 1s ease-in-out infinite alternate;
          animation: prices 1s ease-in-out infinite alternate;
}
/*# sourceMappingURL=style.css.map */